In [1]:
# Dependencies, Setup, API Key
import requests
import json
import pandas as pd
import time
from pprint import pprint
from ykeys import ykey

In [4]:
consolidated_LA = "consolidated_LA.csv"
consolidated_df_LA=pd.read_csv(consolidated_LA, encoding="utf-8-sig")
consolidated_df_LA.head(10)

,name,id,phone,reservations,price_range,review,rating,y_phone_key,g_phone_key,y_id_no,...,y_review,y_price_range,y_reservations,y_category,g_place_id,g_name,g_rating,lat,lng,g_price_range
0,26 Beach Restaurant,16806842,3108237526,0,3,131,4.5,13108237526,%2B13108237526,Lo6xNbL1SDd8JIqTNLGtlQ,...,2956.0,$$,0,American (New),ChIJrw0vQI66woAR3HBe9Gq3Ls4,26 Beach,4.5,33.989618,-118.449934,2
1,800 Degrees Neapolitan Pizzeria,16835051,3104431911,0,2,131,4.6,13104431911,%2B13104431911,jGuzp8hsKy27ZmK1jsvgYw,...,2317.0,$$,0,Pizza,ChIJIeO464G8woAR9bAjkU0sCIw,800 Degrees Woodfired Kitchen Westwood,4.4,34.059880,-118.444365,1
2,94th Aero Squadron,16832614,8189947437,0,2,43,4.1,18189947437,%2B18189947437,NDO2PnVLkn_jj-pZVzdNLw,...,672.0,$$,0,Steakhouses,ChIJDUOnFQeawoARjmIr026FDvs,94th Aero Squadron Restaurant,4.4,34.217924,-118.488890,2
3,A Votre Sante,16806919,3104511813,0,2,39,3.9,13104511813,%2B13104511813,UacptELKUlJKapvtg5w7hw,...,394.0,$$,0,American (New),ChIJ2QqQvlWjwoARajBu-Nxb96g,A Votre Santé,4.3,34.048434,-118.490369,2
4,Abbot's Pizza Company,16806938,3103967334,0,2,139,4.4,13103967334,%2B13103967334,bNT72xV3GPj9Dk1SC1UcgA,...,980.0,$,0,Pizza,ChIJcaqDn7-6woARNn2eauKOKSc,Abbot's Pizza Company,4.3,33.990703,-118.465687,1
5,Adagio Ristorante,16806990,8182250533,0,3,24,4.1,18182250533,%2B18182250533,lUIUejdfQjo1xs133dSe9Q,...,333.0,$$,0,Italian,ChIJpwTdbYiewoARhg2H-_g-7sA,Adagio Ristorante,4.6,34.165859,-118.624758,2
6,Ago,16807012,3236556333,0,4,63,4.0,13236556333,%2B13236556333,LQE9KdZvQNWrppp8fsSBCQ,...,603.0,$$$,delivery,Italian,ChIJV3P9SrG-woARRmk0a6U7sNE,AGO Restaurant,4.2,34.082172,-118.375659,3
7,Ahi Sushi,16807018,8189810277,0,3,24,3.8,18189810277,%2B18189810277,nUbauelzQusc7lgwnMJBnA,...,429.0,$$,0,Sushi Bars,ChIJXwN8HfW9woAR-BexUYnHtAE,Ahi Sushi,4.5,34.145379,-118.414352,2
8,Akbar Cuisine of India,16807034,3105740666,0,2,44,4.1,13105740666,%2B13105740666,m6zAbW3dUEmPjj7cZaFTjQ,...,372.0,$$,0,Indian,ChIJg6ExQ466woARJ5nayZ7F2k8,Akbar,4.0,33.989538,-118.449246,2
9,Alejo's,16807084,3106706677,0,2,56,4.3,13106706677,%2B13106706677,l3up2TnMyR7-HyNPWsUmMg,...,582.0,$$,0,Italian,ChIJgxXXSOuwwoARbq5fG-zf_HI,Alejo's Presto Trattoria Italian Restaurant,4.4,33.961650,-118.421098,2

In [5]:
#Calculate a composite score for LA
composite_score = []
for score in consolidated_df_LA:
    z_score= consolidated_df_LA['rating']
    y_score= consolidated_df_LA['y_rating']
    g_score = consolidated_df_LA['g_rating']
    composite_score = (z_score+y_score+g_score)/3

In [6]:
consolidated_df_LA['composite_score'] = composite_score
consolidated_df_LA.head()

,name,id,phone,reservations,price_range,review,rating,y_phone_key,g_phone_key,y_id_no,...,y_price_range,y_reservations,y_category,g_place_id,g_name,g_rating,lat,lng,g_price_range,composite_score
0,26 Beach Restaurant,16806842,3108237526,0,3,131,4.5,13108237526,%2B13108237526,Lo6xNbL1SDd8JIqTNLGtlQ,...,$$,0,American (New),ChIJrw0vQI66woAR3HBe9Gq3Ls4,26 Beach,4.5,33.989618,-118.449934,2,4.333333
1,800 Degrees Neapolitan Pizzeria,16835051,3104431911,0,2,131,4.6,13104431911,%2B13104431911,jGuzp8hsKy27ZmK1jsvgYw,...,$$,0,Pizza,ChIJIeO464G8woAR9bAjkU0sCIw,800 Degrees Woodfired Kitchen Westwood,4.4,34.059880,-118.444365,1,4.166667
2,94th Aero Squadron,16832614,8189947437,0,2,43,4.1,18189947437,%2B18189947437,NDO2PnVLkn_jj-pZVzdNLw,...,$$,0,Steakhouses,ChIJDUOnFQeawoARjmIr026FDvs,94th Aero Squadron Restaurant,4.4,34.217924,-118.488890,2,4.000000
3,A Votre Sante,16806919,3104511813,0,2,39,3.9,13104511813,%2B13104511813,UacptELKUlJKapvtg5w7hw,...,$$,0,American (New),ChIJ2QqQvlWjwoARajBu-Nxb96g,A Votre Santé,4.3,34.048434,-118.490369,2,4.066667
4,Abbot's Pizza Company,16806938,3103967334,0,2,139,4.4,13103967334,%2B13103967334,bNT72xV3GPj9Dk1SC1UcgA,...,$,0,Pizza,ChIJcaqDn7-6woARNn2eauKOKSc,Abbot's Pizza Company,4.3,33.990703,-118.465687,1,4.066667

In [8]:
#Save to a CSV all data retrieved
consolidated_df_LA.to_csv("consolidated_LA.csv", sep=',',index=False)

In [9]:
consolidated_Manhattan = "consolidated_Manhattan.csv"
consolidated_df_Manhattan=pd.read_csv(consolidated_Manhattan, encoding="utf-8-sig")
consolidated_df_Manhattan.head(10)

,name,id,phone,reservations,price_range,review,rating,y_phone_key,g_phone_key,y_id_no,...,y_price_range,y_reservations,y_category,g_place_id,g_name,g_rating,lat,lng,g_price_range,composite_score
0,Belfast Love Public House,18336397,14163632223,0,3,11,3.5,14163632223,%2B14163632223,nRo8ZR3UO1Kt6XwIMbMy1w,...,$$,0,Irish Pub,ChIJ___Pvd40K4gRmTsHAIN-2jM,Belfast Love Public House,4.1,43.644892,-79.398451,2,3.700000
1,SPiN Toronto,8909453,14165997746,0,3,74,4.1,14165997746,%2B14165997746,Kal1hFMTEzdXYpa5MNzUPw,...,$$,0,Cocktail Bars,ChIJ__QVOdk0K4gRM_dEhAgM-G4,SPIN Toronto,4.3,43.644456,-79.396091,2,4.133333
2,Tropical Joe's,8908107,14164615030,0,1,19,3.8,14164615030,%2B14164615030,1BmnmQChZE8xGdhoGV-VNg,...,$,0,Caribbean,ChIJ_22gMnnL1IkRCWLwnajmlfQ,Tropical Joes,4.7,43.670066,-79.338837,1,4.166667
3,Phipps Bakery Cafe,8909016,14164819111,0,1,32,3.7,14164819111,%2B14164819111,DiZPJEv35VOjdtJgU9gJTQ,...,$$,0,Bakeries,ChIJ_9v_fhEzK4gRaZpw-cyw5pI,Phipps Bakery Cafe,4.5,43.704178,-79.411118,2,4.066667
4,Lee,8906641,14165047867,0,3,582,4.7,14165047867,%2B14165047867,snw9iNNLpFYZeHotW00uVA,...,$$$,0,Asian Fusion,ChIJ_bdoUN40K4gRi4qwMVmMyBw,Lee,4.4,43.644133,-79.400392,3,4.366667
5,Banaboia,8909070,14166540967,0,3,7,3.1,14166540967,%2B14166540967,tuztir4bxbKdJQ69PEtCMw,...,$$,0,Portuguese,ChIJ_bvJmAE0K4gRade9oyIxdmo,Banaboia Restaurant,3.8,43.681944,-79.468194,2,3.466667
6,Trattoria Fieramosca,18813190,14163230636,0,2,1,0.0,14163230636,%2B14163230636,OJ6zfenoK-eBNI7vvNrOsg,...,$$$,0,Italian,ChIJ_cLCqrw0K4gRA5lETR2-Rlo,Trattoria Fieramosca,4.5,43.669541,-79.397303,3,2.833333
7,Dundas Street Grille,8910259,14162396244,0,2,51,3.9,14162396244,%2B14162396244,jCA6s8HQfZqSKxH5pCOZWw,...,$$,0,Breakfast & Brunch,ChIJ_SigHr43K4gRzSTfhAUNApg,Dundas Street Grille,4.3,43.638935,-79.538260,1,4.066667
8,Royal Meats Barbeque,8910036,14162511144,0,2,130,4.1,14162511144,%2B14162511144,McaRYgVwOCmtWkKxNsXlZg,...,$$,0,Bars,ChIJ_VD4MMU3K4gRL9W3mNXFmRs,Royal Meats BarBeque,4.3,43.625458,-79.529254,2,3.966667
9,Milestones,8905876,14165982800,0,3,134,4.0,14165982800,%2B14165982800,4wtqTzXPPp_6vBfFQKiTGQ,...,$$,0,Canadian (New),ChIJ_wU50co0K4gR9xjs6thnRjI,Milestones,3.7,43.656748,-79.380481,2,3.400000

In [10]:
#Calculate a composite score for Manhattan
composite_score = []
for score in consolidated_df_Manhattan:
    z_score= consolidated_df_Manhattan['rating']
    y_score= consolidated_df_Manhattan['y_rating']
    g_score = consolidated_df_Manhattan['g_rating']
    composite_score = (z_score+y_score+g_score)/3.05

In [11]:
consolidated_df_Manhattan['composite_score'] = composite_score
consolidated_df_Manhattan.head()

,name,id,phone,reservations,price_range,review,rating,y_phone_key,g_phone_key,y_id_no,...,y_price_range,y_reservations,y_category,g_place_id,g_name,g_rating,lat,lng,g_price_range,composite_score
0,Belfast Love Public House,18336397,14163632223,0,3,11,3.5,14163632223,%2B14163632223,nRo8ZR3UO1Kt6XwIMbMy1w,...,$$,0,Irish Pub,ChIJ___Pvd40K4gRmTsHAIN-2jM,Belfast Love Public House,4.1,43.644892,-79.398451,2,3.639344
1,SPiN Toronto,8909453,14165997746,0,3,74,4.1,14165997746,%2B14165997746,Kal1hFMTEzdXYpa5MNzUPw,...,$$,0,Cocktail Bars,ChIJ__QVOdk0K4gRM_dEhAgM-G4,SPIN Toronto,4.3,43.644456,-79.396091,2,4.065574
2,Tropical Joe's,8908107,14164615030,0,1,19,3.8,14164615030,%2B14164615030,1BmnmQChZE8xGdhoGV-VNg,...,$,0,Caribbean,ChIJ_22gMnnL1IkRCWLwnajmlfQ,Tropical Joes,4.7,43.670066,-79.338837,1,4.098361
3,Phipps Bakery Cafe,8909016,14164819111,0,1,32,3.7,14164819111,%2B14164819111,DiZPJEv35VOjdtJgU9gJTQ,...,$$,0,Bakeries,ChIJ_9v_fhEzK4gRaZpw-cyw5pI,Phipps Bakery Cafe,4.5,43.704178,-79.411118,2,4.000000
4,Lee,8906641,14165047867,0,3,582,4.7,14165047867,%2B14165047867,snw9iNNLpFYZeHotW00uVA,...,$$$,0,Asian Fusion,ChIJ_bdoUN40K4gRi4qwMVmMyBw,Lee,4.4,43.644133,-79.400392,3,4.295082

In [13]:
#Save to a CSV all data retrieved
consolidated_df_Manhattan.to_csv("consolidated_Manhattan.csv", sep=',',index=False)

In [15]:
consolidated_toronto = "consolidated_toronto.csv"
consolidated_df_Toronto=pd.read_csv(consolidated_toronto, encoding="utf-8-sig")
consolidated_df_Toronto.head(10)

,name,id,phone,reservations,price_range,review,rating,y_phone_key,g_phone_key,y_id_no,...,y_price_range,y_reservations,y_category,g_place_id,g_name,g_rating,lat,lng,g_price_range,composite_score
0,Belfast Love Public House,18336397,14163632223,0,3,11,3.5,14163632223,%2B14163632223,nRo8ZR3UO1Kt6XwIMbMy1w,...,$$,0,Irish Pub,ChIJ___Pvd40K4gRmTsHAIN-2jM,Belfast Love Public House,4.1,43.644892,-79.398451,2,3.700000
1,SPiN Toronto,8909453,14165997746,0,3,74,4.1,14165997746,%2B14165997746,Kal1hFMTEzdXYpa5MNzUPw,...,$$,0,Cocktail Bars,ChIJ__QVOdk0K4gRM_dEhAgM-G4,SPIN Toronto,4.3,43.644456,-79.396091,2,4.133333
2,Tropical Joe's,8908107,14164615030,0,1,19,3.8,14164615030,%2B14164615030,1BmnmQChZE8xGdhoGV-VNg,...,$,0,Caribbean,ChIJ_22gMnnL1IkRCWLwnajmlfQ,Tropical Joes,4.7,43.670066,-79.338837,1,4.166667
3,Phipps Bakery Cafe,8909016,14164819111,0,1,32,3.7,14164819111,%2B14164819111,DiZPJEv35VOjdtJgU9gJTQ,...,$$,0,Bakeries,ChIJ_9v_fhEzK4gRaZpw-cyw5pI,Phipps Bakery Cafe,4.5,43.704178,-79.411118,2,4.066667
4,Lee,8906641,14165047867,0,3,582,4.7,14165047867,%2B14165047867,snw9iNNLpFYZeHotW00uVA,...,$$$,0,Asian Fusion,ChIJ_bdoUN40K4gRi4qwMVmMyBw,Lee,4.4,43.644133,-79.400392,3,4.366667
5,Banaboia,8909070,14166540967,0,3,7,3.1,14166540967,%2B14166540967,tuztir4bxbKdJQ69PEtCMw,...,$$,0,Portuguese,ChIJ_bvJmAE0K4gRade9oyIxdmo,Banaboia Restaurant,3.8,43.681944,-79.468194,2,3.466667
6,Trattoria Fieramosca,18813190,14163230636,0,2,1,0.0,14163230636,%2B14163230636,OJ6zfenoK-eBNI7vvNrOsg,...,$$$,0,Italian,ChIJ_cLCqrw0K4gRA5lETR2-Rlo,Trattoria Fieramosca,4.5,43.669541,-79.397303,3,2.833333
7,Dundas Street Grille,8910259,14162396244,0,2,51,3.9,14162396244,%2B14162396244,jCA6s8HQfZqSKxH5pCOZWw,...,$$,0,Breakfast & Brunch,ChIJ_SigHr43K4gRzSTfhAUNApg,Dundas Street Grille,4.3,43.638935,-79.538260,1,4.066667
8,Royal Meats Barbeque,8910036,14162511144,0,2,130,4.1,14162511144,%2B14162511144,McaRYgVwOCmtWkKxNsXlZg,...,$$,0,Bars,ChIJ_VD4MMU3K4gRL9W3mNXFmRs,Royal Meats BarBeque,4.3,43.625458,-79.529254,2,3.966667
9,Milestones,8905876,14165982800,0,3,134,4.0,14165982800,%2B14165982800,4wtqTzXPPp_6vBfFQKiTGQ,...,$$,0,Canadian (New),ChIJ_wU50co0K4gR9xjs6thnRjI,Milestones,3.7,43.656748,-79.380481,2,3.400000

In [16]:
#Calculate a composite score for Toronto
composite_score = []
for score in consolidated_df_Toronto:
    z_score= consolidated_df_Toronto['rating']
    y_score= consolidated_df_Toronto['y_rating']
    g_score = consolidated_df_Toronto['g_rating']
    composite_score = (z_score+y_score+g_score)/3

In [17]:
consolidated_df_Toronto['composite_score'] = composite_score
consolidated_df_Toronto.head()

,name,id,phone,reservations,price_range,review,rating,y_phone_key,g_phone_key,y_id_no,...,y_price_range,y_reservations,y_category,g_place_id,g_name,g_rating,lat,lng,g_price_range,composite_score
0,Belfast Love Public House,18336397,14163632223,0,3,11,3.5,14163632223,%2B14163632223,nRo8ZR3UO1Kt6XwIMbMy1w,...,$$,0,Irish Pub,ChIJ___Pvd40K4gRmTsHAIN-2jM,Belfast Love Public House,4.1,43.644892,-79.398451,2,3.700000
1,SPiN Toronto,8909453,14165997746,0,3,74,4.1,14165997746,%2B14165997746,Kal1hFMTEzdXYpa5MNzUPw,...,$$,0,Cocktail Bars,ChIJ__QVOdk0K4gRM_dEhAgM-G4,SPIN Toronto,4.3,43.644456,-79.396091,2,4.133333
2,Tropical Joe's,8908107,14164615030,0,1,19,3.8,14164615030,%2B14164615030,1BmnmQChZE8xGdhoGV-VNg,...,$,0,Caribbean,ChIJ_22gMnnL1IkRCWLwnajmlfQ,Tropical Joes,4.7,43.670066,-79.338837,1,4.166667
3,Phipps Bakery Cafe,8909016,14164819111,0,1,32,3.7,14164819111,%2B14164819111,DiZPJEv35VOjdtJgU9gJTQ,...,$$,0,Bakeries,ChIJ_9v_fhEzK4gRaZpw-cyw5pI,Phipps Bakery Cafe,4.5,43.704178,-79.411118,2,4.066667
4,Lee,8906641,14165047867,0,3,582,4.7,14165047867,%2B14165047867,snw9iNNLpFYZeHotW00uVA,...,$$$,0,Asian Fusion,ChIJ_bdoUN40K4gRi4qwMVmMyBw,Lee,4.4,43.644133,-79.400392,3,4.366667

In [18]:
#Save to a CSV all data retrieved
consolidated_df_Toronto.to_csv("consolidated_toronto.csv", sep=',',index=False)

In [19]:
consolidated = "consolidated_test.csv"
consolidated_df=pd.read_csv(consolidated, encoding="utf-8-sig")
consolidated_df.head(10)

,name,id,phone,reservations,price_range,review,rating,y_phone_key,g_phone_key,y_id_no,...,y_review,y_price_range,y_reservations,y_category,g_place_id,g_name,g_rating,lat,lng,g_price_range
0,Belfast Love Public House,18336397,14163632223,0,3,11,3.5,14163632223,%2B14163632223,nRo8ZR3UO1Kt6XwIMbMy1w,...,96.0,$$,0,Irish Pub,ChIJ___Pvd40K4gRmTsHAIN-2jM,Belfast Love Public House,4.1,43.644892,-79.398451,2
1,SPiN Toronto,8909453,14165997746,0,3,74,4.1,14165997746,%2B14165997746,Kal1hFMTEzdXYpa5MNzUPw,...,131.0,$$,0,Cocktail Bars,ChIJ__QVOdk0K4gRM_dEhAgM-G4,SPIN Toronto,4.3,43.644456,-79.396091,2
2,Tropical Joe's,8908107,14164615030,0,1,19,3.8,14164615030,%2B14164615030,1BmnmQChZE8xGdhoGV-VNg,...,59.0,$,0,Caribbean,ChIJ_22gMnnL1IkRCWLwnajmlfQ,Tropical Joes,4.7,43.670066,-79.338837,1
3,Phipps Bakery Cafe,8909016,14164819111,0,1,32,3.7,14164819111,%2B14164819111,DiZPJEv35VOjdtJgU9gJTQ,...,28.0,$$,0,Bakeries,ChIJ_9v_fhEzK4gRaZpw-cyw5pI,Phipps Bakery Cafe,4.5,43.704178,-79.411118,2
4,Lee,8906641,14165047867,0,3,582,4.7,14165047867,%2B14165047867,snw9iNNLpFYZeHotW00uVA,...,596.0,$$$,0,Asian Fusion,ChIJ_bdoUN40K4gRi4qwMVmMyBw,Lee,4.4,43.644133,-79.400392,3
5,Banaboia,8909070,14166540967,0,3,7,3.1,14166540967,%2B14166540967,tuztir4bxbKdJQ69PEtCMw,...,10.0,$$,0,Portuguese,ChIJ_bvJmAE0K4gRade9oyIxdmo,Banaboia Restaurant,3.8,43.681944,-79.468194,2
6,Trattoria Fieramosca,18813190,14163230636,0,2,1,0.0,14163230636,%2B14163230636,OJ6zfenoK-eBNI7vvNrOsg,...,92.0,$$$,0,Italian,ChIJ_cLCqrw0K4gRA5lETR2-Rlo,Trattoria Fieramosca,4.5,43.669541,-79.397303,3
7,Dundas Street Grille,8910259,14162396244,0,2,51,3.9,14162396244,%2B14162396244,jCA6s8HQfZqSKxH5pCOZWw,...,69.0,$$,0,Breakfast & Brunch,ChIJ_SigHr43K4gRzSTfhAUNApg,Dundas Street Grille,4.3,43.638935,-79.538260,1
8,Royal Meats Barbeque,8910036,14162511144,0,2,130,4.1,14162511144,%2B14162511144,McaRYgVwOCmtWkKxNsXlZg,...,109.0,$$,0,Bars,ChIJ_VD4MMU3K4gRL9W3mNXFmRs,Royal Meats BarBeque,4.3,43.625458,-79.529254,2
9,Milestones,8905876,14165982800,0,3,134,4.0,14165982800,%2B14165982800,4wtqTzXPPp_6vBfFQKiTGQ,...,207.0,$$,0,Canadian (New),ChIJ_wU50co0K4gR9xjs6thnRjI,Milestones,3.7,43.656747,-79.380481,2

In [20]:
print(len(consolidated_df))

1908

In [21]:
zomato_mean = consolidated_df["rating"].mean
yelp_mean = consolidated_df["y_rating"].mean
google_mean = consolidated_df["g_rating"].mean
print(zomato_mean, yelp_mean, google_mean)

<bound method Series.mean of 0       3.5
1       4.1
2       3.8
3       3.7
4       4.7
5       3.1
6       0.0
7       3.9
8       4.1
9       4.0
10      3.8
11      3.9
12      4.1
13      3.9
14      3.6
15      4.2
16      4.3
17      4.2
18      3.2
19      4.2
20      4.0
21      3.4
22      4.5
23      3.9
24      3.2
25      3.6
26      3.8
27      3.7
28      4.0
29      3.9
       ...
1878    3.6
1879    4.5
1880    4.3
1881    4.0
1882    4.0
1883    3.6
1884    4.5
1885    3.2
1886    3.9
1887    3.5
1888    4.3
1889    3.9
1890    3.6
1891    3.2
1892    3.5
1893    4.2
1894    4.1
1895    4.2
1896    4.0
1897    4.1
1898    4.5
1899    4.3
1900    3.5
1901    4.4
1902    3.5
1903    4.5
1904    4.0
1905    4.0
1906    4.3
1907    4.0
Name: rating, Length: 1908, dtype: float64> <bound method Series.mean of 0       3.5
1       4.0
2       4.0
3       4.0
4       4.0
5       3.5
6       4.0
7       4.0
8       3.5
9       2.5
10      4.5
11      4.0
12      3.5
13      3.0
14      2.0
15      3.5
16      4.0
17      3.0
18      1.5
19      4.0
20      4.0
21      3.0
22      4.0
23      3.5
24      3.5
25      4.0
26      4.0
27      3.0
28      4.0
29      4.0
       ...
1878    3.0
1879    4.0
1880    4.0
1881    3.5
1882    4.0
1883    3.5
1884    4.0
1885    4.0
1886    4.0
1887    4.0
1888    4.0
1889    4.0
1890    4.0
1891    2.5
1892    4.0
1893    4.0
1894    4.0
1895    4.0
1896    4.0
1897    4.0
1898    3.5
1899    4.0
1900    4.0
1901    4.0
1902    4.0
1903    4.0
1904    4.0
1905    3.0
1906    4.0
1907    4.0
Name: y_rating, Length: 1908, dtype: float64> <bound method Series.mean of 0       4.1
1       4.3
2       4.7
3       4.5
4       4.4
5       3.8
6       4.5
7       4.3
8       4.3
9       3.7
10      4.6
11      4.5
12      4.2
13      3.6
14      3.3
15      4.4
16      4.6
17      3.7
18      3.3
19      4.5
20      4.5
21      3.6
22      4.2
23      4.3
24      3.9
25      4.3
26      4.6
27      4.2
28      4.3
29      4.6
       ...
1878    4.2
1879    4.6
1880    4.5
1881    4.1
1882    4.5
1883    4.4
1884    4.4
1885    4.5
1886    4.3
1887    4.5
1888    4.4
1889    4.4
1890    4.3
1891    4.0
1892    3.6
1893    4.5
1894    4.5
1895    4.4
1896    4.5
1897    4.5
1898    4.2
1899    4.3
1900    4.3
1901    4.4
1902    3.0
1903    4.5
1904    4.3
1905    4.1
1906    4.4
1907    4.2
Name: g_rating, Length: 1908, dtype: float64>

In [22]:
consolidated_df.mean()

id               1.440874e+07
phone            7.201841e+09
reservations     0.000000e+00
price_range      2.454403e+00
review           8.026730e+01
rating           3.790933e+00
y_phone_key      1.358549e+10
y_rating         3.686828e+00
y_review         5.799296e+02
g_rating         4.226887e+00
lat              3.986327e+01
lng             -8.889527e+01
g_price_range    1.797170e+00
dtype: float64

In [23]:
consolidated_df["rating"].describe()

count    1908.000000
mean        3.790933
std         0.762779
min         0.000000
25%         3.600000
50%         3.900000
75%         4.200000
max         4.900000
Name: rating, dtype: float64

In [24]:
consolidated_df["rating"].median()
consolidated_df["y_rating"].median()
consolidated_df["g_rating"].median()

4.3

In [25]:
consolidated_df.median()

id               1.678114e+07
phone            3.106568e+09
reservations     0.000000e+00
price_range      2.000000e+00
review           5.000000e+01
rating           3.900000e+00
y_phone_key      1.310657e+10
y_rating         4.000000e+00
y_review         2.915000e+02
g_rating         4.300000e+00
lat              4.075250e+01
lng             -7.938052e+01
g_price_range    2.000000e+00
dtype: float64

In [26]:
median_TO = (consolidated_df_Toronto['rating'].median(), consolidated_df_Toronto['y_rating'].median(), consolidated_df_Toronto['g_rating'].median())
median_NYC = (consolidated_df_Manhattan['rating'].median(), consolidated_df_Manhattan['y_rating'].median(),consolidated_df_Manhattan['g_rating'].median())
median_LA = (consolidated_df_LA['rating'].median(), consolidated_df_LA['y_rating'].median(),consolidated_df_LA['g_rating'].median())

In [27]:
median=(median_TO, median_NYC,median_LA)
median_df= pd.DataFrame(list(median))
median_df.columns = ["Toronto", "NYC", "LA"]
median_df.rename(index={0:'Zomato',1:'Yelp', 2:'Google'}, inplace=True)
print(median_df)

        Toronto  NYC   LA
Zomato      3.9  4.0  4.3
Yelp        3.9  4.0  4.3
Google      3.9  4.0  4.4

In [28]:
median_df.median()

Toronto    3.9
NYC        4.0
LA         4.3
dtype: float64