In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import requests
import json
from gkeys import gkey
from ykeys import ykey

In [2]:
#read in csv
zomato = "to_zomato_test.csv"
consolidated_df=pd.read_csv(zomato, encoding="utf-8-sig")
print(len(consolidated_df))

16

In [3]:
consolidated_df.head(17)

,name,id,phone,reservations,price_range,review,rating
0,Tortilla Flats,8905123,14162030088,0,2,100,3.7
1,Tim Hortons,8905959,14162033931,0,1,15,2.7
2,Second Cup,8907802,14162036100,0,1,8,3.4
3,Thai Island,8908336,14162037745,0,1,15,3.4
4,Town Crier Pub,8905265,14162049588,0,3,154,4.3
5,Yuzu No Hana,8905653,14162059808,0,4,239,4.5
6,Little India,8905462,14162059836,0,2,277,4.3
7,Amaya Express,8906451,14162140005,0,2,24,3.4
8,Freshii,8908328,14162140259,0,2,14,3.6
9,Jimmy The Greek,8906506,14162149237,0,1,21,3.5
10,Maman,17714682,14162166767,0,1,24,3.8
11,Mother's Dumplings,8900379,14162172008,0,2,289,4.3
12,Jack Astor's,8908277,14162211221,0,2,35,3.3
13,Union Social Eatery,17944590,14162216789,0,2,26,3.4
14,The Owl Of Minerva,8907874,14162217275,0,2,129,4.2
15,Sushi One,8906697,14162220303,0,2,82,4.0

In [4]:
api_key=ykey
headers = {'Authorization': 'Bearer %s' % api_key}

In [5]:
#Add string info so it can be read by the google api
for index, row in consolidated_df.iterrows():
    consolidated_df.loc[index,"y_phone_key"] = '+' + str(consolidated_df.loc[index,"phone"])

consolidated_df.head(25)

,name,id,phone,reservations,price_range,review,rating,y_phone_key
0,Tortilla Flats,8905123,14162030088,0,2,100,3.7,+14162030088
1,Tim Hortons,8905959,14162033931,0,1,15,2.7,+14162033931
2,Second Cup,8907802,14162036100,0,1,8,3.4,+14162036100
3,Thai Island,8908336,14162037745,0,1,15,3.4,+14162037745
4,Town Crier Pub,8905265,14162049588,0,3,154,4.3,+14162049588
5,Yuzu No Hana,8905653,14162059808,0,4,239,4.5,+14162059808
6,Little India,8905462,14162059836,0,2,277,4.3,+14162059836
7,Amaya Express,8906451,14162140005,0,2,24,3.4,+14162140005
8,Freshii,8908328,14162140259,0,2,14,3.6,+14162140259
9,Jimmy The Greek,8906506,14162149237,0,1,21,3.5,+14162149237
10,Maman,17714682,14162166767,0,1,24,3.8,+14162166767
11,Mother's Dumplings,8900379,14162172008,0,2,289,4.3,+14162172008
12,Jack Astor's,8908277,14162211221,0,2,35,3.3,+14162211221
13,Union Social Eatery,17944590,14162216789,0,2,26,3.4,+14162216789
14,The Owl Of Minerva,8907874,14162217275,0,2,129,4.2,+14162217275
15,Sushi One,8906697,14162220303,0,2,82,4.0,+14162220303

In [6]:
#Add string info so it can be read by the google api
for index, row in consolidated_df.iterrows():
    consolidated_df.loc[index,"g_phone_key"] = '%2B' + str(consolidated_df.loc[index,"phone"])
consolidated_df.head(25)

,name,id,phone,reservations,price_range,review,rating,y_phone_key,g_phone_key
0,Tortilla Flats,8905123,14162030088,0,2,100,3.7,+14162030088,%2B14162030088
1,Tim Hortons,8905959,14162033931,0,1,15,2.7,+14162033931,%2B14162033931
2,Second Cup,8907802,14162036100,0,1,8,3.4,+14162036100,%2B14162036100
3,Thai Island,8908336,14162037745,0,1,15,3.4,+14162037745,%2B14162037745
4,Town Crier Pub,8905265,14162049588,0,3,154,4.3,+14162049588,%2B14162049588
5,Yuzu No Hana,8905653,14162059808,0,4,239,4.5,+14162059808,%2B14162059808
6,Little India,8905462,14162059836,0,2,277,4.3,+14162059836,%2B14162059836
7,Amaya Express,8906451,14162140005,0,2,24,3.4,+14162140005,%2B14162140005
8,Freshii,8908328,14162140259,0,2,14,3.6,+14162140259,%2B14162140259
9,Jimmy The Greek,8906506,14162149237,0,1,21,3.5,+14162149237,%2B14162149237
10,Maman,17714682,14162166767,0,1,24,3.8,+14162166767,%2B14162166767
11,Mother's Dumplings,8900379,14162172008,0,2,289,4.3,+14162172008,%2B14162172008
12,Jack Astor's,8908277,14162211221,0,2,35,3.3,+14162211221,%2B14162211221
13,Union Social Eatery,17944590,14162216789,0,2,26,3.4,+14162216789,%2B14162216789
14,The Owl Of Minerva,8907874,14162217275,0,2,129,4.2,+14162217275,%2B14162217275
15,Sushi One,8906697,14162220303,0,2,82,4.0,+14162220303,%2B14162220303

In [7]:
#set variables
consolidated_df["y_id_no"] = ""
consolidated_df["y_name"] = ""
consolidated_df["y_rating"] = ""
consolidated_df["y_review"] = ""
consolidated_df["y_price_range"] = ""
consolidated_df["y_reservations"] = ""
consolidated_df["y_category"]= ""
consolidated_df["g_id_no"] = ""
consolidated_df["g_name"] = ""
consolidated_df["g_rating"] = ""
consolidated_df["lat"] = ""
consolidated_df["lng"] = ""
consolidated_df["address"]= ""

In [8]:
consolidated_df.head(25)

,name,id,phone,reservations,price_range,review,rating,y_phone_key,g_phone_key,y_id_no,...,y_review,y_price_range,y_reservations,y_category,g_id_no,g_name,g_rating,lat,lng,address
0,Tortilla Flats,8905123,14162030088,0,2,100,3.7,+14162030088,%2B14162030088,,...,,,,,,,,,,
1,Tim Hortons,8905959,14162033931,0,1,15,2.7,+14162033931,%2B14162033931,,...,,,,,,,,,,
2,Second Cup,8907802,14162036100,0,1,8,3.4,+14162036100,%2B14162036100,,...,,,,,,,,,,
3,Thai Island,8908336,14162037745,0,1,15,3.4,+14162037745,%2B14162037745,,...,,,,,,,,,,
4,Town Crier Pub,8905265,14162049588,0,3,154,4.3,+14162049588,%2B14162049588,,...,,,,,,,,,,
5,Yuzu No Hana,8905653,14162059808,0,4,239,4.5,+14162059808,%2B14162059808,,...,,,,,,,,,,
6,Little India,8905462,14162059836,0,2,277,4.3,+14162059836,%2B14162059836,,...,,,,,,,,,,
7,Amaya Express,8906451,14162140005,0,2,24,3.4,+14162140005,%2B14162140005,,...,,,,,,,,,,
8,Freshii,8908328,14162140259,0,2,14,3.6,+14162140259,%2B14162140259,,...,,,,,,,,,,
9,Jimmy The Greek,8906506,14162149237,0,1,21,3.5,+14162149237,%2B14162149237,,...,,,,,,,,,,
10,Maman,17714682,14162166767,0,1,24,3.8,+14162166767,%2B14162166767,,...,,,,,,,,,,
11,Mother's Dumplings,8900379,14162172008,0,2,289,4.3,+14162172008,%2B14162172008,,...,,,,,,,,,,
12,Jack Astor's,8908277,14162211221,0,2,35,3.3,+14162211221,%2B14162211221,,...,,,,,,,,,,
13,Union Social Eatery,17944590,14162216789,0,2,26,3.4,+14162216789,%2B14162216789,,...,,,,,,,,,,
14,The Owl Of Minerva,8907874,14162217275,0,2,129,4.2,+14162217275,%2B14162217275,,...,,,,,,,,,,
15,Sushi One,8906697,14162220303,0,2,82,4.0,+14162220303,%2B14162220303,,...,,,,,,,,,,

In [9]:
#Pull yelp restaurant details by phone number
url='https://api.yelp.com/v3/businesses/search/phone'

for index, row in consolidated_df.iterrows():
    params_ld = {'phone':consolidated_df.loc[index, "y_phone_key"]}
    response = requests.get(url, params=params_ld, headers=headers)
    response_df=response.json()
    print(response_df)
    if response_df ['businesses'] != []:
        consolidated_df.loc[index,"y_id_no"] = response_df["businesses"][0]['id']
        consolidated_df.loc[index,"y_name"] = response_df["businesses"][0]['name']
        consolidated_df.loc[index,"y_review"] = response_df["businesses"][0]['review_count']
        consolidated_df.loc[index,"y_rating"] = response_df["businesses"][0]['rating']
        consolidated_df.loc[index,"y_category"] = response_df["businesses"][0]['categories'][0].get('title')
        try:
            consolidated_df.loc[index,"y_reservations"] = response_df["businesses"][0]['transactions']
        except:
            consolidated_df.loc[index,"y_reservations"] = 0
        try:
            consolidated_df.loc[index,"y_price_range"] = response_df["businesses"][0]['price']
        except:
            consolidated_df.loc[index,"y_price_range"] = 0

{'businesses': [{'id': 'SZpzMUdhh1xu2qlegzSyLg', 'alias': 'tortilla-flats-toronto', 'name': 'Tortilla Flats', 'image_url': 'https://s3-media4.fl.yelpcdn.com/bphoto/axQji4qV_ykhOHNS-syriA/o.jpg', 'is_closed': True, 'url': 'https://www.yelp.com/biz/tortilla-flats-toronto?adjust_creative=8KgHCgPAYzfiYQNZjNtLSw&utm_campaign=yelp_api_v3&utm_medium=api_v3_phone_search&utm_source=8KgHCgPAYzfiYQNZjNtLSw', 'review_count': 96, 'categories': [{'alias': 'mexican', 'title': 'Mexican'}, {'alias': 'bars', 'title': 'Bars'}], 'rating': 2.5, 'coordinates': {'latitude': 43.64828, 'longitude': -79.39955}, 'transactions': [], 'price': '$$', 'location': {'address1': '458 Queen Street W', 'address2': '', 'address3': '', 'city': 'Toronto', 'zip_code': 'M5V 2A8', 'country': 'CA', 'state': 'ON', 'display_address': ['458 Queen Street W', 'Toronto, ON M5V 2A8', 'Canada']}, 'phone': '+14162030088', 'display_phone': '+1 416-203-0088'}], 'total': 1}
{'businesses': [{'id': '8k62wYhDVq1-652YbJi5eg', 'alias': 'tim-hortons-toronto-26', 'name': 'Tim Hortons', 'image_url': 'https://s3-media4.fl.yelpcdn.com/bphoto/ldrWxsk5vTAD7g9UfBm7Nw/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/tim-hortons-toronto-26?adjust_creative=8KgHCgPAYzfiYQNZjNtLSw&utm_campaign=yelp_api_v3&utm_medium=api_v3_phone_search&utm_source=8KgHCgPAYzfiYQNZjNtLSw', 'review_count': 7, 'categories': [{'alias': 'coffee', 'title': 'Coffee & Tea'}, {'alias': 'bakeries', 'title': 'Bakeries'}], 'rating': 3.5, 'coordinates': {'latitude': 43.64988, 'longitude': -79.38199}, 'transactions': [], 'price': '$', 'location': {'address1': '90 Adelaide Street W', 'address2': '', 'address3': '', 'city': 'Toronto', 'zip_code': 'M5H 3V9', 'country': 'CA', 'state': 'ON', 'display_address': ['90 Adelaide Street W', 'Toronto, ON M5H 3V9', 'Canada']}, 'phone': '+14162033931', 'display_phone': '+1 416-203-3931'}], 'total': 1}
{'businesses': [{'id': 'nFnzfL-Ism--Uci4S2I4Ug', 'alias': 'second-cup-toronto-8', 'name': 'Second Cup', 'image_url': 'https://s3-media1.fl.yelpcdn.com/bphoto/NPBTiP44PCEJCI1Fnt76GA/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/second-cup-toronto-8?adjust_creative=8KgHCgPAYzfiYQNZjNtLSw&utm_campaign=yelp_api_v3&utm_medium=api_v3_phone_search&utm_source=8KgHCgPAYzfiYQNZjNtLSw', 'review_count': 11, 'categories': [{'alias': 'coffee', 'title': 'Coffee & Tea'}], 'rating': 3.5, 'coordinates': {'latitude': 43.649068, 'longitude': -79.379712}, 'transactions': [], 'price': '$', 'location': {'address1': '40 King Street W', 'address2': '', 'address3': '', 'city': 'Toronto', 'zip_code': 'M5H 3Y2', 'country': 'CA', 'state': 'ON', 'display_address': ['40 King Street W', 'Toronto, ON M5H 3Y2', 'Canada']}, 'phone': '+14162036100', 'display_phone': '+1 416-203-6100'}], 'total': 1}
{'businesses': [{'id': 'rcjw4QjAbu1jvW6gSNvRlA', 'alias': 'thai-island-toronto', 'name': 'Thai Island', 'image_url': 'https://s3-media4.fl.yelpcdn.com/bphoto/p3MgAxyVhya5N3eeimNoyw/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/thai-island-toronto?adjust_creative=8KgHCgPAYzfiYQNZjNtLSw&utm_campaign=yelp_api_v3&utm_medium=api_v3_phone_search&utm_source=8KgHCgPAYzfiYQNZjNtLSw', 'review_count': 23, 'categories': [{'alias': 'thai', 'title': 'Thai'}], 'rating': 2.5, 'coordinates': {'latitude': 43.64816, 'longitude': -79.38345}, 'transactions': [], 'price': '$', 'location': {'address1': 'Exchange Tower Food Court', 'address2': '130 King St W', 'address3': '', 'city': 'Toronto', 'zip_code': 'M5H', 'country': 'CA', 'state': 'ON', 'display_address': ['Exchange Tower Food Court', '130 King St W', 'Toronto, ON M5H', 'Canada']}, 'phone': '+14162037745', 'display_phone': '+1 416-203-7745'}], 'total': 1}
{'businesses': [{'id': 'Z5kjUEm1A18l864gb3XA8A', 'alias': 'town-crier-pub-toronto', 'name': 'Town Crier Pub', 'image_url': 'https://s3-media1.fl.yelpcdn.com/bphoto/BRHfqsUK4dPxd21b2BLuTA/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/town-crier-pub-toronto?adjust_creative=8KgHCgPAYzfiYQNZjNtLSw&utm_campaign=yelp_api_v3&utm_medium=api_v3_phone_search&utm_source=8KgHCgPAYzfiYQNZjNtLSw', 'review_count': 195, 'categories': [{'alias': 'pubs', 'title': 'Pubs'}, {'alias': 'german', 'title': 'German'}], 'rating': 4.0, 'coordinates': {'latitude': 43.6481433882002, 'longitude': -79.3901514674822}, 'transactions': [], 'price': '$$', 'location': {'address1': '115 John St', 'address2': '', 'address3': None, 'city': 'Toronto', 'zip_code': 'M5V 2E2', 'country': 'CA', 'state': 'ON', 'display_address': ['115 John St', 'Toronto, ON M5V 2E2', 'Canada']}, 'phone': '+14162049588', 'display_phone': '+1 416-204-9588'}], 'total': 1}
{'businesses': [{'id': 'zA6gnF5aPBGoOm6uIbKt-A', 'alias': 'yuzu-no-hana-toronto', 'name': 'Yuzu No Hana', 'image_url': 'https://s3-media2.fl.yelpcdn.com/bphoto/77iVVcXOeiRtNqzgKOaLqA/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/yuzu-no-hana-toronto?adjust_creative=8KgHCgPAYzfiYQNZjNtLSw&utm_campaign=yelp_api_v3&utm_medium=api_v3_phone_search&utm_source=8KgHCgPAYzfiYQNZjNtLSw', 'review_count': 517, 'categories': [{'alias': 'sushi', 'title': 'Sushi Bars'}, {'alias': 'japanese', 'title': 'Japanese'}], 'rating': 4.0, 'coordinates': {'latitude': 43.64847, 'longitude': -79.38834}, 'transactions': ['restaurant_reservation'], 'price': '$$$', 'location': {'address1': '236 Adelaide Street W', 'address2': '', 'address3': '', 'city': 'Toronto', 'zip_code': 'M5H 1W7', 'country': 'CA', 'state': 'ON', 'display_address': ['236 Adelaide Street W', 'Toronto, ON M5H 1W7', 'Canada']}, 'phone': '+14162059808', 'display_phone': '+1 416-205-9808'}], 'total': 1}
{'businesses': [{'id': 'J9BmILDpV1Pr3GKU9XhjTQ', 'alias': 'little-india-restaurant-toronto', 'name': 'Little India Restaurant', 'image_url': 'https://s3-media2.fl.yelpcdn.com/bphoto/9gwMEQnewY6D1i7Zn-CoFQ/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/little-india-restaurant-toronto?adjust_creative=8KgHCgPAYzfiYQNZjNtLSw&utm_campaign=yelp_api_v3&utm_medium=api_v3_phone_search&utm_source=8KgHCgPAYzfiYQNZjNtLSw', 'review_count': 380, 'categories': [{'alias': 'indpak', 'title': 'Indian'}, {'alias': 'buffets', 'title': 'Buffets'}], 'rating': 3.5, 'coordinates': {'latitude': 43.6502008, 'longitude': -79.3888945}, 'transactions': [], 'price': '$$', 'location': {'address1': '255 Queen Street W', 'address2': '', 'address3': '', 'city': 'Toronto', 'zip_code': 'M5V 1Z4', 'country': 'CA', 'state': 'ON', 'display_address': ['255 Queen Street W', 'Toronto, ON M5V 1Z4', 'Canada']}, 'phone': '+14162059836', 'display_phone': '+1 416-205-9836'}], 'total': 1}
{'businesses': [{'id': 'Qrz20jCLqVSixe53_McCMQ', 'alias': 'amaya-toronto-6', 'name': 'Amaya', 'image_url': 'https://s3-media1.fl.yelpcdn.com/bphoto/Yb62S4VP5ZcHR9bfSsaLzw/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/amaya-toronto-6?adjust_creative=8KgHCgPAYzfiYQNZjNtLSw&utm_campaign=yelp_api_v3&utm_medium=api_v3_phone_search&utm_source=8KgHCgPAYzfiYQNZjNtLSw', 'review_count': 17, 'categories': [{'alias': 'indpak', 'title': 'Indian'}], 'rating': 2.5, 'coordinates': {'latitude': 43.6486231153903, 'longitude': -79.3816485245646}, 'transactions': [], 'price': '$', 'location': {'address1': '100 King Street W', 'address2': '', 'address3': '', 'city': 'Toronto', 'zip_code': 'M5X 2A2', 'country': 'CA', 'state': 'ON', 'display_address': ['100 King Street W', 'Toronto, ON M5X 2A2', 'Canada']}, 'phone': '+14162140005', 'display_phone': '+1 416-214-0005'}], 'total': 1}
{'businesses': [{'id': 'oPKx7AuYUvVuOXA-OwMU0A', 'alias': 'freshii-toronto-11', 'name': 'Freshii', 'image_url': 'https://s3-media4.fl.yelpcdn.com/bphoto/0lrRXzIZVYWB06ZMnd_htQ/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/freshii-toronto-11?adjust_creative=8KgHCgPAYzfiYQNZjNtLSw&utm_campaign=yelp_api_v3&utm_medium=api_v3_phone_search&utm_source=8KgHCgPAYzfiYQNZjNtLSw', 'review_count': 7, 'categories': [{'alias': 'salad', 'title': 'Salad'}, {'alias': 'vegetarian', 'title': 'Vegetarian'}, {'alias': 'hotdogs', 'title': 'Fast Food'}], 'rating': 2.0, 'coordinates': {'latitude': 43.64816, 'longitude': -79.38345}, 'transactions': [], 'price': '$$$', 'location': {'address1': '130 King St W', 'address2': 'The Exchange Tower', 'address3': '', 'city': 'Toronto', 'zip_code': 'M5X 1E1', 'country': 'CA', 'state': 'ON', 'display_address': ['130 King St W', 'The Exchange Tower', 'Toronto, ON M5X 1E1', 'Canada']}, 'phone': '+14162140259', 'display_phone': '+1 416-214-0259'}], 'total': 1}

{'businesses': [{'id': 'Hpwew2vQVgEwnF6BxIaZYQ', 'alias': 'jimmy-the-greek-toronto-3', 'name': 'Jimmy the Greek', 'image_url': 'https://s3-media3.fl.yelpcdn.com/bphoto/qpB_XMBZ1lxx2fMRGSSjfw/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/jimmy-the-greek-toronto-3?adjust_creative=8KgHCgPAYzfiYQNZjNtLSw&utm_campaign=yelp_api_v3&utm_medium=api_v3_phone_search&utm_source=8KgHCgPAYzfiYQNZjNtLSw', 'review_count': 2, 'categories': [{'alias': 'greek', 'title': 'Greek'}, {'alias': 'mediterranean', 'title': 'Mediterranean'}], 'rating': 3.0, 'coordinates': {'latitude': 43.6490023792363, 'longitude': -79.3788075378652}, 'transactions': [], 'location': {'address1': '100 King Street', 'address2': '', 'address3': '', 'city': 'Toronto', 'zip_code': 'M9N 1L3', 'country': 'CA', 'state': 'ON', 'display_address': ['100 King Street', 'Toronto, ON M9N 1L3', 'Canada']}, 'phone': '+14162149237', 'display_phone': '+1 416-214-9237'}], 'total': 1}
{'businesses': [{'id': 'h_ypoQ2rmwX8UGSmohsGiQ', 'alias': 'maman-toronto', 'name': 'Maman', 'image_url': 'https://s3-media2.fl.yelpcdn.com/bphoto/ZTKG5eDHIgRK6rMkUyhJ2A/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/maman-toronto?adjust_creative=8KgHCgPAYzfiYQNZjNtLSw&utm_campaign=yelp_api_v3&utm_medium=api_v3_phone_search&utm_source=8KgHCgPAYzfiYQNZjNtLSw', 'review_count': 127, 'categories': [{'alias': 'bakeries', 'title': 'Bakeries'}, {'alias': 'coffee', 'title': 'Coffee & Tea'}], 'rating': 3.5, 'coordinates': {'latitude': 43.6487194, 'longitude': -79.3804465}, 'transactions': [], 'price': '$$', 'location': {'address1': '1 First Canadian Place', 'address2': 'Food Terrace, Upper Level', 'address3': '', 'city': 'Toronto', 'zip_code': 'M5X 1C1', 'country': 'CA', 'state': 'ON', 'display_address': ['1 First Canadian Place', 'Food Terrace, Upper Level', 'Toronto, ON M5X 1C1', 'Canada']}, 'phone': '+14162166767', 'display_phone': '+1 416-216-6767'}], 'total': 1}
{'businesses': [{'id': 'BUcTdN-rNE8urCCQuxSOQA', 'alias': 'mothers-dumplings-toronto', 'name': "Mother's Dumplings", 'image_url': 'https://s3-media4.fl.yelpcdn.com/bphoto/E5usRX5SaOx5ri-VNGUR2g/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/mothers-dumplings-toronto?adjust_creative=8KgHCgPAYzfiYQNZjNtLSw&utm_campaign=yelp_api_v3&utm_medium=api_v3_phone_search&utm_source=8KgHCgPAYzfiYQNZjNtLSw', 'review_count': 508, 'categories': [{'alias': 'chinese', 'title': 'Chinese'}], 'rating': 3.0, 'coordinates': {'latitude': 43.65711, 'longitude': -79.39934}, 'transactions': [], 'price': '$$', 'location': {'address1': '421 Spadina Avenue', 'address2': '', 'address3': '', 'city': 'Toronto', 'zip_code': 'M5T 2A8', 'country': 'CA', 'state': 'ON', 'display_address': ['421 Spadina Avenue', 'Toronto, ON M5T 2A8', 'Canada']}, 'phone': '+14162172008', 'display_phone': '+1 416-217-2008'}], 'total': 1}
{'businesses': [{'id': '4oWEqa3paBylDXRfTPB-bA', 'alias': 'jack-astors-bar-and-grill-north-york-2', 'name': "Jack Astor's Bar & Grill", 'image_url': 'https://s3-media4.fl.yelpcdn.com/bphoto/gk95hMGxip-zOpOEPRijSA/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/jack-astors-bar-and-grill-north-york-2?adjust_creative=8KgHCgPAYzfiYQNZjNtLSw&utm_campaign=yelp_api_v3&utm_medium=api_v3_phone_search&utm_source=8KgHCgPAYzfiYQNZjNtLSw', 'review_count': 137, 'categories': [{'alias': 'newcanadian', 'title': 'Canadian (New)'}, {'alias': 'sportsbars', 'title': 'Sports Bars'}, {'alias': 'burgers', 'title': 'Burgers'}], 'rating': 2.5, 'coordinates': {'latitude': 43.76719, 'longitude': -79.41198}, 'transactions': [], 'price': '$$', 'location': {'address1': '5051 Yonge Street', 'address2': 'Unit #2', 'address3': '', 'city': 'North York', 'zip_code': 'M2N 5P2', 'country': 'CA', 'state': 'ON', 'display_address': ['5051 Yonge Street', 'Unit #2', 'North York, ON M2N 5P2', 'Canada']}, 'phone': '+14162211221', 'display_phone': '+1 416-221-1221'}], 'total': 1}
{'businesses': [{'id': '_81fRJ9m8Fn1s8ixPun46A', 'alias': 'union-social-eatery-toronto-2', 'name': 'Union Social Eatery', 'image_url': 'https://s3-media4.fl.yelpcdn.com/bphoto/B4U5vQY3qEE2J5IdnCrj6Q/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/union-social-eatery-toronto-2?adjust_creative=8KgHCgPAYzfiYQNZjNtLSw&utm_campaign=yelp_api_v3&utm_medium=api_v3_phone_search&utm_source=8KgHCgPAYzfiYQNZjNtLSw', 'review_count': 229, 'categories': [{'alias': 'gastropubs', 'title': 'Gastropubs'}, {'alias': 'burgers', 'title': 'Burgers'}, {'alias': 'bbq', 'title': 'Barbeque'}], 'rating': 3.5, 'coordinates': {'latitude': 43.7639042110806, 'longitude': -79.4111878640642}, 'transactions': [], 'price': '$$', 'location': {'address1': '4899 Yonge Street', 'address2': '', 'address3': '', 'city': 'Toronto', 'zip_code': 'M2N 5N4', 'country': 'CA', 'state': 'ON', 'display_address': ['4899 Yonge Street', 'Toronto, ON M2N 5N4', 'Canada']}, 'phone': '+14162216789', 'display_phone': '+1 416-221-6789'}], 'total': 1}
{'businesses': [{'id': '3-i1qd64K-WLo0fJ5wrbbw', 'alias': 'owl-of-minerva-north-york', 'name': 'Owl of Minerva', 'image_url': 'https://s3-media4.fl.yelpcdn.com/bphoto/q7m-7Jq7btpcY3ZH3vWlKg/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/owl-of-minerva-north-york?adjust_creative=8KgHCgPAYzfiYQNZjNtLSw&utm_campaign=yelp_api_v3&utm_medium=api_v3_phone_search&utm_source=8KgHCgPAYzfiYQNZjNtLSw', 'review_count': 153, 'categories': [{'alias': 'korean', 'title': 'Korean'}], 'rating': 3.0, 'coordinates': {'latitude': 43.7725547, 'longitude': -79.4136499}, 'transactions': [], 'price': '$$', 'location': {'address1': '5324 Yonge Street', 'address2': '', 'address3': '', 'city': 'North York', 'zip_code': 'M2N 5P9', 'country': 'CA', 'state': 'ON', 'display_address': ['5324 Yonge Street', 'North York, ON M2N 5P9', 'Canada']}, 'phone': '+14162217275', 'display_phone': '+1 416-221-7275'}], 'total': 1}
{'businesses': [{'id': 'QePLHlU8MFaU2Sf9dzoLTg', 'alias': 'sushi-one-toronto', 'name': 'Sushi One', 'image_url': 'https://s3-media2.fl.yelpcdn.com/bphoto/r-xQvdHGqAcayLGutRJzcQ/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/sushi-one-toronto?adjust_creative=8KgHCgPAYzfiYQNZjNtLSw&utm_campaign=yelp_api_v3&utm_medium=api_v3_phone_search&utm_source=8KgHCgPAYzfiYQNZjNtLSw', 'review_count': 153, 'categories': [{'alias': 'sushi', 'title': 'Sushi Bars'}, {'alias': 'japanese', 'title': 'Japanese'}], 'rating': 3.5, 'coordinates': {'latitude': 43.76442, 'longitude': -79.41203}, 'transactions': [], 'price': '$$', 'location': {'address1': '4924 Yonge Street', 'address2': '', 'address3': '', 'city': 'Toronto', 'zip_code': 'M2N 5N5', 'country': 'CA', 'state': 'ON', 'display_address': ['4924 Yonge Street', 'Toronto, ON M2N 5N5', 'Canada']}, 'phone': '+14162220303', 'display_phone': '+1 416-222-0303'}], 'total': 1}

In [10]:
consolidated_df.head(25)

,name,id,phone,reservations,price_range,review,rating,y_phone_key,g_phone_key,y_id_no,...,y_review,y_price_range,y_reservations,y_category,g_id_no,g_name,g_rating,lat,lng,address
0,Tortilla Flats,8905123,14162030088,0,2,100,3.7,+14162030088,%2B14162030088,SZpzMUdhh1xu2qlegzSyLg,...,96,$$,0,Mexican,,,,,,
1,Tim Hortons,8905959,14162033931,0,1,15,2.7,+14162033931,%2B14162033931,8k62wYhDVq1-652YbJi5eg,...,7,$,0,Coffee & Tea,,,,,,
2,Second Cup,8907802,14162036100,0,1,8,3.4,+14162036100,%2B14162036100,nFnzfL-Ism--Uci4S2I4Ug,...,11,$,0,Coffee & Tea,,,,,,
3,Thai Island,8908336,14162037745,0,1,15,3.4,+14162037745,%2B14162037745,rcjw4QjAbu1jvW6gSNvRlA,...,23,$,0,Thai,,,,,,
4,Town Crier Pub,8905265,14162049588,0,3,154,4.3,+14162049588,%2B14162049588,Z5kjUEm1A18l864gb3XA8A,...,195,$$,0,Pubs,,,,,,
5,Yuzu No Hana,8905653,14162059808,0,4,239,4.5,+14162059808,%2B14162059808,zA6gnF5aPBGoOm6uIbKt-A,...,517,$$$,restaurant_reservation,Sushi Bars,,,,,,
6,Little India,8905462,14162059836,0,2,277,4.3,+14162059836,%2B14162059836,J9BmILDpV1Pr3GKU9XhjTQ,...,380,$$,0,Indian,,,,,,
7,Amaya Express,8906451,14162140005,0,2,24,3.4,+14162140005,%2B14162140005,Qrz20jCLqVSixe53_McCMQ,...,17,$,0,Indian,,,,,,
8,Freshii,8908328,14162140259,0,2,14,3.6,+14162140259,%2B14162140259,oPKx7AuYUvVuOXA-OwMU0A,...,7,$$$,0,Salad,,,,,,
9,Jimmy The Greek,8906506,14162149237,0,1,21,3.5,+14162149237,%2B14162149237,Hpwew2vQVgEwnF6BxIaZYQ,...,2,0,0,Greek,,,,,,
10,Maman,17714682,14162166767,0,1,24,3.8,+14162166767,%2B14162166767,h_ypoQ2rmwX8UGSmohsGiQ,...,127,$$,0,Bakeries,,,,,,
11,Mother's Dumplings,8900379,14162172008,0,2,289,4.3,+14162172008,%2B14162172008,BUcTdN-rNE8urCCQuxSOQA,...,508,$$,0,Chinese,,,,,,
12,Jack Astor's,8908277,14162211221,0,2,35,3.3,+14162211221,%2B14162211221,4oWEqa3paBylDXRfTPB-bA,...,137,$$,0,Canadian (New),,,,,,
13,Union Social Eatery,17944590,14162216789,0,2,26,3.4,+14162216789,%2B14162216789,_81fRJ9m8Fn1s8ixPun46A,...,229,$$,0,Gastropubs,,,,,,
14,The Owl Of Minerva,8907874,14162217275,0,2,129,4.2,+14162217275,%2B14162217275,3-i1qd64K-WLo0fJ5wrbbw,...,153,$$,0,Korean,,,,,,
15,Sushi One,8906697,14162220303,0,2,82,4.0,+14162220303,%2B14162220303,QePLHlU8MFaU2Sf9dzoLTg,...,153,$$,0,Sushi Bars,,,,,,

In [11]:
# consolidated_df["g_id_no"] = ""
# consolidated_df["g_name"] = ""
# consolidated_df["g_rating"] = ""
# consolidated_df["price_level"]= ""
# consolidated_df["lat"] = ""
# consolidated_df["lng"] = ""

In [12]:
#Pull google restaurant details by the telephone number

for index, row in consolidated_df.iterrows():
    phone = consolidated_df.loc[index, "g_phone_key"]
    base_url=f"https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input={phone}&inputtype=phonenumber&fields=geometry,name,place_id,price_level,rating&key={gkey}"
    print(base_url)
    response = requests.get(base_url)
    response_df=response.json()
    print(response_df)
    print(index)
    if response_df['candidates'] != []:           
        try:
             consolidated_df.loc[index, "lat"] = response_df["candidates"][0]["geometry"]['location']['lat']
        except:
            consolidated_df.loc[index, "lat"]= 0
        try:
             consolidated_df.loc[index, "lng"] = response_df["candidates"][0]["geometry"]['location']['lng']
        except:
             consolidated_df.loc[index, "lng"]= 0
        try:
            consolidated_df.loc[index, "g_name"] = response_df['candidates'][0]['name']
        except:
            consolidated_df.loc[index, "g_name"] = 0
        try:
            consolidated_df.loc[index, "g_place_id"] = response_df["candidates"][0]["place_id"]
        except:
            consolidated_df.loc[index, "g_place_id"] = 0
        try:
            consolidated_df.loc[index, "g_price_range"] = response_df["candidates"][0]["price_level"]
        except:
            consolidated_df.loc[index, "g_price_range"] = 0
        try:
             consolidated_df.loc[index, "g_rating"] = response_df["candidates"][0]["rating"]
        except:
             consolidated_df.loc[index, "g_rating"]= 0

https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=%2B14162030088&inputtype=phonenumber&fields=geometry,name,place_id,price_level,rating&key=AIzaSyBLExFavZoHAN3HB3-WRnNN52nyVmXB1tU
{'candidates': [], 'status': 'ZERO_RESULTS'}
0
https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=%2B14162033931&inputtype=phonenumber&fields=geometry,name,place_id,price_level,rating&key=AIzaSyBLExFavZoHAN3HB3-WRnNN52nyVmXB1tU
{'candidates': [{'geometry': {'location': {'lat': 43.6497961, 'lng': -79.3820226}, 'viewport': {'northeast': {'lat': 43.65106643029149, 'lng': -79.38064136970848}, 'southwest': {'lat': 43.64836846970849, 'lng': -79.3833393302915}}}, 'name': 'Tim Hortons', 'place_id': 'ChIJg-ztZ800K4gRxMBY5Fci5fU', 'price_level': 1, 'rating': 3.6}], 'status': 'OK'}
1
https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=%2B14162036100&inputtype=phonenumber&fields=geometry,name,place_id,price_level,rating&key=AIzaSyBLExFavZoHAN3HB3-WRnNN52nyVmXB1tU
{'candidates': [{'geometry': {'location': {'lat': 43.6494957, 'lng': -79.3795298}, 'viewport': {'northeast': {'lat': 43.65052688029149, 'lng': -79.3780519197085}, 'southwest': {'lat': 43.64782891970849, 'lng': -79.3807498802915}}}, 'name': 'Second Cup Coffee Co. featuring Pinkberry Frozen Yogurt', 'place_id': 'ChIJmx4zcxjL1IkRl8waSBBTwyc', 'price_level': 2, 'rating': 4.3}], 'status': 'OK'}
2
https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=%2B14162037745&inputtype=phonenumber&fields=geometry,name,place_id,price_level,rating&key=AIzaSyBLExFavZoHAN3HB3-WRnNN52nyVmXB1tU
{'candidates': [{'geometry': {'location': {'lat': 43.6482981, 'lng': -79.3833794}, 'viewport': {'northeast': {'lat': 43.64949543029149, 'lng': -79.38196626970849}, 'southwest': {'lat': 43.6467974697085, 'lng': -79.3846642302915}}}, 'name': 'Thai Island Restaurant', 'place_id': 'ChIJq3cvY98wK4gRL5nU-XdPWuc', 'rating': 3.1}], 'status': 'OK'}
3
https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=%2B14162049588&inputtype=phonenumber&fields=geometry,name,place_id,price_level,rating&key=AIzaSyBLExFavZoHAN3HB3-WRnNN52nyVmXB1tU
{'candidates': [{'geometry': {'location': {'lat': 43.6480785, 'lng': -79.3901097}, 'viewport': {'northeast': {'lat': 43.64940208029149, 'lng': -79.38887971970848}, 'southwest': {'lat': 43.6467041197085, 'lng': -79.3915776802915}}}, 'name': 'Town Crier', 'place_id': 'ChIJ19HF1vpSV0ARhuyTtUxBggk', 'price_level': 2, 'rating': 4.4}], 'status': 'OK'}
4
https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=%2B14162059808&inputtype=phonenumber&fields=geometry,name,place_id,price_level,rating&key=AIzaSyBLExFavZoHAN3HB3-WRnNN52nyVmXB1tU
{'candidates': [{'geometry': {'location': {'lat': 43.64841799999999, 'lng': -79.38834299999999}, 'viewport': {'northeast': {'lat': 43.6496959802915, 'lng': -79.38696496970849}, 'southwest': {'lat': 43.6469980197085, 'lng': -79.38966293029151}}}, 'name': 'Yuzu No Hana', 'place_id': 'ChIJ-e2VttE0K4gR9qSbe6Tct04', 'price_level': 3, 'rating': 4.2}], 'status': 'OK'}
5
https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=%2B14162059836&inputtype=phonenumber&fields=geometry,name,place_id,price_level,rating&key=AIzaSyBLExFavZoHAN3HB3-WRnNN52nyVmXB1tU
{'candidates': [{'geometry': {'location': {'lat': 43.6502364, 'lng': -79.3889555}, 'viewport': {'northeast': {'lat': 43.6516205802915, 'lng': -79.3876250197085}, 'southwest': {'lat': 43.64892261970851, 'lng': -79.3903229802915}}}, 'name': 'Little India Restaurant', 'place_id': 'ChIJi5Wv0880K4gRK7ubmLQuZps', 'price_level': 2, 'rating': 3.9}], 'status': 'OK'}
6
https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=%2B14162140005&inputtype=phonenumber&fields=geometry,name,place_id,price_level,rating&key=AIzaSyBLExFavZoHAN3HB3-WRnNN52nyVmXB1tU
{'candidates': [{'geometry': {'location': {'lat': 43.6490203, 'lng': -79.3823572}, 'viewport': {'northeast': {'lat': 43.6506695802915, 'lng': -79.3807965197085}, 'southwest': {'lat': 43.6479716197085, 'lng': -79.38349448029152}}}, 'name': 'Amaya Restaurant', 'place_id': 'ChIJs5XhnNI0K4gRBuYjrcRvDDE', 'rating': 2.5}, {'geometry': {'location': {'lat': 43.64863620000001, 'lng': -79.38174389999999}, 'viewport': {'northeast': {'lat': 43.6498599802915, 'lng': -79.38025706970849}, 'southwest': {'lat': 43.6471620197085, 'lng': -79.3829550302915}}}, 'name': 'Junoon by Amaya', 'place_id': 'ChIJTe5EawA1K4gRq-QbAKT_Bus', 'rating': 4.5}], 'status': 'OK'}
7
https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=%2B14162140259&inputtype=phonenumber&fields=geometry,name,place_id,price_level,rating&key=AIzaSyBLExFavZoHAN3HB3-WRnNN52nyVmXB1tU
{'candidates': [{'geometry': {'location': {'lat': 43.64838820000001, 'lng': -79.3832357}, 'viewport': {'northeast': {'lat': 43.6495588802915, 'lng': -79.3818113197085}, 'southwest': {'lat': 43.6468609197085, 'lng': -79.38450928029151}}}, 'name': 'Freshii', 'place_id': 'ChIJIcUQYtI0K4gRWhnwyMzaDt4', 'price_level': 2, 'rating': 3.5}, {'geometry': {'location': {'lat': 43.64851830000001, 'lng': -79.3833447}, 'viewport': {'northeast': {'lat': 43.6496184802915, 'lng': -79.38189046970851}, 'southwest': {'lat': 43.6469205197085, 'lng': -79.38458843029152}}}, 'name': 'Lettuce Eatery (Exchange)', 'place_id': 'ChIJq3cvY98wK4gR_UuQtuiOH7w', 'rating': 5}], 'status': 'OK'}
8
https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=%2B14162149237&inputtype=phonenumber&fields=geometry,name,place_id,price_level,rating&key=AIzaSyBLExFavZoHAN3HB3-WRnNN52nyVmXB1tU
{'candidates': [{'geometry': {'location': {'lat': 43.64888, 'lng': -79.3824814}, 'viewport': {'northeast': {'lat': 43.6505862802915, 'lng': -79.3808864197085}, 'southwest': {'lat': 43.6478883197085, 'lng': -79.38358438029151}}}, 'name': 'Jimmy The Greek', 'place_id': 'ChIJCX1hZt8wK4gRIVWlGk_UxjQ', 'price_level': 1, 'rating': 2.7}], 'status': 'OK'}
9
https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=%2B14162166767&inputtype=phonenumber&fields=geometry,name,place_id,price_level,rating&key=AIzaSyBLExFavZoHAN3HB3-WRnNN52nyVmXB1tU
{'candidates': [{'geometry': {'location': {'lat': 43.6487247, 'lng': -79.3827606}, 'viewport': {'northeast': {'lat': 43.6500736802915, 'lng': -79.38141161970849}, 'southwest': {'lat': 43.6473757197085, 'lng': -79.38410958029151}}}, 'name': 'Maman', 'place_id': 'ChIJ9y-dotI0K4gRaEbGQDdJkVU', 'price_level': 2, 'rating': 4.2}], 'status': 'OK'}
10
https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=%2B14162172008&inputtype=phonenumber&fields=geometry,name,place_id,price_level,rating&key=AIzaSyBLExFavZoHAN3HB3-WRnNN52nyVmXB1tU
{'candidates': [{'geometry': {'location': {'lat': 43.6571221, 'lng': -79.39943939999999}, 'viewport': {'northeast': {'lat': 43.6584564802915, 'lng': -79.39816036970849}, 'southwest': {'lat': 43.6557585197085, 'lng': -79.4008583302915}}}, 'name': "Mother's Dumplings", 'place_id': 'ChIJ0zE_DsE0K4gR8rEk8B9DNg4', 'price_level': 1, 'rating': 4.1}], 'status': 'OK'}
11
https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=%2B14162211221&inputtype=phonenumber&fields=geometry,name,place_id,price_level,rating&key=AIzaSyBLExFavZoHAN3HB3-WRnNN52nyVmXB1tU
{'candidates': [{'geometry': {'location': {'lat': 43.767056, 'lng': -79.412089}, 'viewport': {'northeast': {'lat': 43.76839493029149, 'lng': -79.41081421970848}, 'southwest': {'lat': 43.76569696970849, 'lng': -79.4135121802915}}}, 'name': "Jack Astor's Bar & Grill", 'place_id': 'ChIJY7H1u28tK4gRYdz58iUt8x0', 'price_level': 2, 'rating': 3.8}], 'status': 'OK'}
12
https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=%2B14162216789&inputtype=phonenumber&fields=geometry,name,place_id,price_level,rating&key=AIzaSyBLExFavZoHAN3HB3-WRnNN52nyVmXB1tU
{'candidates': [{'geometry': {'location': {'lat': 43.7638974, 'lng': -79.4111753}, 'viewport': {'northeast': {'lat': 43.7652041802915, 'lng': -79.4099527197085}, 'southwest': {'lat': 43.7625062197085, 'lng': -79.4126506802915}}}, 'name': 'Union Social Eatery', 'place_id': 'ChIJhxMGCGUtK4gRqAZ81aCEYGw', 'price_level': 2, 'rating': 4.1}], 'status': 'OK'}
13
https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=%2B14162217275&inputtype=phonenumber&fields=geometry,name,place_id,price_level,rating&key=AIzaSyBLExFavZoHAN3HB3-WRnNN52nyVmXB1tU

{'candidates': [{'geometry': {'location': {'lat': 43.7733107, 'lng': -79.4141973}, 'viewport': {'northeast': {'lat': 43.77467663029149, 'lng': -79.4127107697085}, 'southwest': {'lat': 43.7719786697085, 'lng': -79.4154087302915}}}, 'name': 'The Famous Owl of Minerva', 'place_id': 'ChIJmWDGfW0tK4gRwhzl1oXnUNE', 'price_level': 1, 'rating': 3.9}], 'status': 'OK'}
14
https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=%2B14162220303&inputtype=phonenumber&fields=geometry,name,place_id,price_level,rating&key=AIzaSyBLExFavZoHAN3HB3-WRnNN52nyVmXB1tU
{'candidates': [{'geometry': {'location': {'lat': 43.76442309999999, 'lng': -79.4120167}, 'viewport': {'northeast': {'lat': 43.76585403029149, 'lng': -79.4106596697085}, 'southwest': {'lat': 43.76315606970849, 'lng': -79.4133576302915}}}, 'name': 'Sushi One', 'place_id': 'ChIJ7970DGUtK4gRloRJTDyYF-Q', 'price_level': 2, 'rating': 4.1}], 'status': 'OK'}
15

In [19]:
consolidated_df.head()

,name,id,phone,reservations,price_range,review,rating,y_phone_key,g_phone_key,y_id_no,...,y_reservations,y_category,g_id_no,g_name,g_rating,lat,lng,address,g_place_id,g_price_range
0,Tortilla Flats,8905123,14162030088,0,2,100,3.7,+14162030088,%2B14162030088,SZpzMUdhh1xu2qlegzSyLg,...,0,Mexican,,,,,,,NaN,NaN
1,Tim Hortons,8905959,14162033931,0,1,15,2.7,+14162033931,%2B14162033931,8k62wYhDVq1-652YbJi5eg,...,0,Coffee & Tea,,Tim Hortons,3.6,43.6498,-79.382,,ChIJg-ztZ800K4gRxMBY5Fci5fU,1.0
2,Second Cup,8907802,14162036100,0,1,8,3.4,+14162036100,%2B14162036100,nFnzfL-Ism--Uci4S2I4Ug,...,0,Coffee & Tea,,Second Cup Coffee Co. featuring Pinkberry Froz...,4.3,43.6495,-79.3795,,ChIJmx4zcxjL1IkRl8waSBBTwyc,2.0
3,Thai Island,8908336,14162037745,0,1,15,3.4,+14162037745,%2B14162037745,rcjw4QjAbu1jvW6gSNvRlA,...,0,Thai,,Thai Island Restaurant,3.1,43.6483,-79.3834,,ChIJq3cvY98wK4gRL5nU-XdPWuc,0.0
4,Town Crier Pub,8905265,14162049588,0,3,154,4.3,+14162049588,%2B14162049588,Z5kjUEm1A18l864gb3XA8A,...,0,Pubs,,Town Crier,4.4,43.6481,-79.3901,,ChIJ19HF1vpSV0ARhuyTtUxBggk,2.0

In [18]:
#Save to a CSV all data retrieved
consolidated_df.to_csv("consolidated_toronto.csv", sep=',',index=False)

In [22]:
analysis_set = consolidated_df[['name','g_rating', 'y_rating','rating','y_review','review',
                             'price_range', 'y_price_range']]
analysis_set = analysis_set.rename(columns={'g_rating':'google_rating', 'y_rating' :'yelp_rating', 
                                             'rating' : 'zomato_rating', 'review': 'zomato_rating', 
                                            'y_review':'yelp_review',
                                             'y_price_range': 'yelp_pr_range', 
                                            'price_range':'zomato_pr_range'})

In [23]:
print(len(analysis_set))
analysis_set.head()

16

,name,google_rating,yelp_rating,zomato_rating,yelp_review,zomato_rating,zomato_pr_range,yelp_pr_range
0,Tortilla Flats,,2.5,3.7,96,100,2,$$
1,Tim Hortons,3.6,3.5,2.7,7,15,1,$
2,Second Cup,4.3,3.5,3.4,11,8,1,$
3,Thai Island,3.1,2.5,3.4,23,15,1,$
4,Town Crier Pub,4.4,4,4.3,195,154,3,$$