In [ ]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import requests
import json
from gkeys import gkey
from ykeys import ykey

In [2]:
#read in csv
zomato = "to_zomato_test.csv"
consolidated_df=pd.read_csv(zomato, encoding="utf-8-sig")
print(len(consolidated_df))

17

In [3]:
consolidated_df.head(17)

In [4]:
api_key=ykey
headers = {'Authorization': 'Bearer %s' % api_key}

In [7]:
#Add string info so it can be read by the google api
for index, row in consolidated_df.iterrows():
    consolidated_df.loc[index,"y_phone_key"] = '+' + str(consolidated_df.loc[index,"phone"])

consolidated_df.head(25)

,name,id,phone,reservations,price_range,review,rating,y_phone_key
0,Be Teased Food Truck,18532123,12505725753,0,2,3,0.0,+12505725753
1,Tortilla Flats,8905123,14162030088,0,2,100,3.7,+14162030088
2,Tim Hortons,8905959,14162033931,0,1,15,2.7,+14162033931
3,Second Cup,8907802,14162036100,0,1,8,3.4,+14162036100
4,Thai Island,8908336,14162037745,0,1,15,3.4,+14162037745
5,Town Crier Pub,8905265,14162049588,0,3,154,4.3,+14162049588
6,Yuzu No Hana,8905653,14162059808,0,4,239,4.5,+14162059808
7,Little India,8905462,14162059836,0,2,277,4.3,+14162059836
8,Amaya Express,8906451,14162140005,0,2,24,3.4,+14162140005
9,Freshii,8908328,14162140259,0,2,14,3.6,+14162140259
10,Jimmy The Greek,8906506,14162149237,0,1,21,3.5,+14162149237
11,Maman,17714682,14162166767,0,1,24,3.8,+14162166767
12,Mother's Dumplings,8900379,14162172008,0,2,289,4.3,+14162172008
13,Jack Astor's,8908277,14162211221,0,2,35,3.3,+14162211221
14,Union Social Eatery,17944590,14162216789,0,2,26,3.4,+14162216789
15,The Owl Of Minerva,8907874,14162217275,0,2,129,4.2,+14162217275
16,Sushi One,8906697,14162220303,0,2,82,4.0,+14162220303

In [ ]:
consolidated_df.head()

In [8]:
#Add string info so it can be read by the google api
for index, row in consolidated_df.iterrows():
    consolidated_df.loc[index,"g_phone_key"] = '%2B' + str(consolidated_df.loc[index,"phone"])
consolidated_df.head(25)

,name,id,phone,reservations,price_range,review,rating,y_phone_key,g_phone_key
0,Be Teased Food Truck,18532123,12505725753,0,2,3,0.0,+12505725753,%2B12505725753
1,Tortilla Flats,8905123,14162030088,0,2,100,3.7,+14162030088,%2B14162030088
2,Tim Hortons,8905959,14162033931,0,1,15,2.7,+14162033931,%2B14162033931
3,Second Cup,8907802,14162036100,0,1,8,3.4,+14162036100,%2B14162036100
4,Thai Island,8908336,14162037745,0,1,15,3.4,+14162037745,%2B14162037745
5,Town Crier Pub,8905265,14162049588,0,3,154,4.3,+14162049588,%2B14162049588
6,Yuzu No Hana,8905653,14162059808,0,4,239,4.5,+14162059808,%2B14162059808
7,Little India,8905462,14162059836,0,2,277,4.3,+14162059836,%2B14162059836
8,Amaya Express,8906451,14162140005,0,2,24,3.4,+14162140005,%2B14162140005
9,Freshii,8908328,14162140259,0,2,14,3.6,+14162140259,%2B14162140259
10,Jimmy The Greek,8906506,14162149237,0,1,21,3.5,+14162149237,%2B14162149237
11,Maman,17714682,14162166767,0,1,24,3.8,+14162166767,%2B14162166767
12,Mother's Dumplings,8900379,14162172008,0,2,289,4.3,+14162172008,%2B14162172008
13,Jack Astor's,8908277,14162211221,0,2,35,3.3,+14162211221,%2B14162211221
14,Union Social Eatery,17944590,14162216789,0,2,26,3.4,+14162216789,%2B14162216789
15,The Owl Of Minerva,8907874,14162217275,0,2,129,4.2,+14162217275,%2B14162217275
16,Sushi One,8906697,14162220303,0,2,82,4.0,+14162220303,%2B14162220303

In [10]:
url='https://api.yelp.com/v3/businesses/search/phone'
# Perform API Calls - test with one restaurant

for index, row in consolidated_df.iterrows():
    params_ld = {'phone':consolidated_df.loc[index, "y_phone_key"]}
    response = requests.get(url, params=params_ld, headers=headers)
    response_df=response.json()
    print(response_df)
    toronto = response_df["businesses"][0]
    if response_df ['businesses'] != []:
        consolidated_df.loc[index,"y_id_no"] = response_df["businesses"][0]['id']
        consolidated_df.loc[index,"y_name"] = response_df["businesses"][0]['name']
        consolidated_df.loc[index,"y_review"] = response_df["businesses"][0]['review_count']
        consolidated_df.loc[index,"y_rating"] = response_df["businesses"][0]['rating']
        consolidated_df.loc[index,"y_category"] = response_df["businesses"][0]['categories'][0].get('title')
        try:
            consolidated_df.loc[index,"y_reservations"] = response_df["businesses"][0]['transactions']
        except:
            consolidated_df.loc[index,"y_reservations"] = 0
        try:
            consolidated_df.loc[index,"y_price_range"] = response_df["businesses"][0]['price']
        except:
            consolidated_df.loc[index,"y_price_range"] = 0

{'businesses': [{'id': 'pBryV-CG7f2BvkkbULFTog', 'alias': 'shuswap-infusion-tea-co-scotch-creek', 'name': 'Shuswap Infusion Tea Co', 'image_url': '', 'is_closed': False, 'url': 'https://www.yelp.com/biz/shuswap-infusion-tea-co-scotch-creek?adjust_creative=8KgHCgPAYzfiYQNZjNtLSw&utm_campaign=yelp_api_v3&utm_medium=api_v3_phone_search&utm_source=8KgHCgPAYzfiYQNZjNtLSw', 'review_count': 1, 'categories': [{'alias': 'coffee', 'title': 'Coffee & Tea'}], 'rating': 3.0, 'coordinates': {'latitude': 50.9030095, 'longitude': -119.4406849}, 'transactions': [], 'location': {'address1': '', 'address2': '', 'address3': '', 'city': 'Scotch Creek', 'zip_code': 'V0E 3L0', 'country': 'CA', 'state': 'BC', 'display_address': ['Scotch Creek, BC V0E 3L0', 'Canada']}, 'phone': '+12505725753', 'display_phone': '+1 250-572-5753'}], 'total': 1}
{'businesses': [{'id': 'SZpzMUdhh1xu2qlegzSyLg', 'alias': 'tortilla-flats-toronto', 'name': 'Tortilla Flats', 'image_url': 'https://s3-media4.fl.yelpcdn.com/bphoto/axQji4qV_ykhOHNS-syriA/o.jpg', 'is_closed': True, 'url': 'https://www.yelp.com/biz/tortilla-flats-toronto?adjust_creative=8KgHCgPAYzfiYQNZjNtLSw&utm_campaign=yelp_api_v3&utm_medium=api_v3_phone_search&utm_source=8KgHCgPAYzfiYQNZjNtLSw', 'review_count': 96, 'categories': [{'alias': 'mexican', 'title': 'Mexican'}, {'alias': 'bars', 'title': 'Bars'}], 'rating': 2.5, 'coordinates': {'latitude': 43.64828, 'longitude': -79.39955}, 'transactions': [], 'price': '$$', 'location': {'address1': '458 Queen Street W', 'address2': '', 'address3': '', 'city': 'Toronto', 'zip_code': 'M5V 2A8', 'country': 'CA', 'state': 'ON', 'display_address': ['458 Queen Street W', 'Toronto, ON M5V 2A8', 'Canada']}, 'phone': '+14162030088', 'display_phone': '+1 416-203-0088'}], 'total': 1}
{'businesses': [{'id': '8k62wYhDVq1-652YbJi5eg', 'alias': 'tim-hortons-toronto-26', 'name': 'Tim Hortons', 'image_url': 'https://s3-media4.fl.yelpcdn.com/bphoto/ldrWxsk5vTAD7g9UfBm7Nw/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/tim-hortons-toronto-26?adjust_creative=8KgHCgPAYzfiYQNZjNtLSw&utm_campaign=yelp_api_v3&utm_medium=api_v3_phone_search&utm_source=8KgHCgPAYzfiYQNZjNtLSw', 'review_count': 7, 'categories': [{'alias': 'coffee', 'title': 'Coffee & Tea'}, {'alias': 'bakeries', 'title': 'Bakeries'}], 'rating': 3.5, 'coordinates': {'latitude': 43.64988, 'longitude': -79.38199}, 'transactions': [], 'price': '$', 'location': {'address1': '90 Adelaide Street W', 'address2': '', 'address3': '', 'city': 'Toronto', 'zip_code': 'M5H 3V9', 'country': 'CA', 'state': 'ON', 'display_address': ['90 Adelaide Street W', 'Toronto, ON M5H 3V9', 'Canada']}, 'phone': '+14162033931', 'display_phone': '+1 416-203-3931'}], 'total': 1}
{'businesses': [{'id': 'nFnzfL-Ism--Uci4S2I4Ug', 'alias': 'second-cup-toronto-8', 'name': 'Second Cup', 'image_url': 'https://s3-media1.fl.yelpcdn.com/bphoto/NPBTiP44PCEJCI1Fnt76GA/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/second-cup-toronto-8?adjust_creative=8KgHCgPAYzfiYQNZjNtLSw&utm_campaign=yelp_api_v3&utm_medium=api_v3_phone_search&utm_source=8KgHCgPAYzfiYQNZjNtLSw', 'review_count': 11, 'categories': [{'alias': 'coffee', 'title': 'Coffee & Tea'}], 'rating': 3.5, 'coordinates': {'latitude': 43.649068, 'longitude': -79.379712}, 'transactions': [], 'price': '$', 'location': {'address1': '40 King Street W', 'address2': '', 'address3': '', 'city': 'Toronto', 'zip_code': 'M5H 3Y2', 'country': 'CA', 'state': 'ON', 'display_address': ['40 King Street W', 'Toronto, ON M5H 3Y2', 'Canada']}, 'phone': '+14162036100', 'display_phone': '+1 416-203-6100'}], 'total': 1}
{'businesses': [{'id': 'rcjw4QjAbu1jvW6gSNvRlA', 'alias': 'thai-island-toronto', 'name': 'Thai Island', 'image_url': 'https://s3-media4.fl.yelpcdn.com/bphoto/p3MgAxyVhya5N3eeimNoyw/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/thai-island-toronto?adjust_creative=8KgHCgPAYzfiYQNZjNtLSw&utm_campaign=yelp_api_v3&utm_medium=api_v3_phone_search&utm_source=8KgHCgPAYzfiYQNZjNtLSw', 'review_count': 23, 'categories': [{'alias': 'thai', 'title': 'Thai'}], 'rating': 2.5, 'coordinates': {'latitude': 43.64816, 'longitude': -79.38345}, 'transactions': [], 'price': '$', 'location': {'address1': 'Exchange Tower Food Court', 'address2': '130 King St W', 'address3': '', 'city': 'Toronto', 'zip_code': 'M5H', 'country': 'CA', 'state': 'ON', 'display_address': ['Exchange Tower Food Court', '130 King St W', 'Toronto, ON M5H', 'Canada']}, 'phone': '+14162037745', 'display_phone': '+1 416-203-7745'}], 'total': 1}
{'businesses': [{'id': 'Z5kjUEm1A18l864gb3XA8A', 'alias': 'town-crier-pub-toronto', 'name': 'Town Crier Pub', 'image_url': 'https://s3-media1.fl.yelpcdn.com/bphoto/BRHfqsUK4dPxd21b2BLuTA/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/town-crier-pub-toronto?adjust_creative=8KgHCgPAYzfiYQNZjNtLSw&utm_campaign=yelp_api_v3&utm_medium=api_v3_phone_search&utm_source=8KgHCgPAYzfiYQNZjNtLSw', 'review_count': 195, 'categories': [{'alias': 'pubs', 'title': 'Pubs'}, {'alias': 'german', 'title': 'German'}], 'rating': 4.0, 'coordinates': {'latitude': 43.6481433882002, 'longitude': -79.3901514674822}, 'transactions': [], 'price': '$$', 'location': {'address1': '115 John St', 'address2': '', 'address3': None, 'city': 'Toronto', 'zip_code': 'M5V 2E2', 'country': 'CA', 'state': 'ON', 'display_address': ['115 John St', 'Toronto, ON M5V 2E2', 'Canada']}, 'phone': '+14162049588', 'display_phone': '+1 416-204-9588'}], 'total': 1}
{'businesses': [{'id': 'zA6gnF5aPBGoOm6uIbKt-A', 'alias': 'yuzu-no-hana-toronto', 'name': 'Yuzu No Hana', 'image_url': 'https://s3-media2.fl.yelpcdn.com/bphoto/77iVVcXOeiRtNqzgKOaLqA/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/yuzu-no-hana-toronto?adjust_creative=8KgHCgPAYzfiYQNZjNtLSw&utm_campaign=yelp_api_v3&utm_medium=api_v3_phone_search&utm_source=8KgHCgPAYzfiYQNZjNtLSw', 'review_count': 517, 'categories': [{'alias': 'sushi', 'title': 'Sushi Bars'}, {'alias': 'japanese', 'title': 'Japanese'}], 'rating': 4.0, 'coordinates': {'latitude': 43.64847, 'longitude': -79.38834}, 'transactions': ['restaurant_reservation'], 'price': '$$$', 'location': {'address1': '236 Adelaide Street W', 'address2': '', 'address3': '', 'city': 'Toronto', 'zip_code': 'M5H 1W7', 'country': 'CA', 'state': 'ON', 'display_address': ['236 Adelaide Street W', 'Toronto, ON M5H 1W7', 'Canada']}, 'phone': '+14162059808', 'display_phone': '+1 416-205-9808'}], 'total': 1}
{'businesses': [{'id': 'J9BmILDpV1Pr3GKU9XhjTQ', 'alias': 'little-india-restaurant-toronto', 'name': 'Little India Restaurant', 'image_url': 'https://s3-media2.fl.yelpcdn.com/bphoto/9gwMEQnewY6D1i7Zn-CoFQ/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/little-india-restaurant-toronto?adjust_creative=8KgHCgPAYzfiYQNZjNtLSw&utm_campaign=yelp_api_v3&utm_medium=api_v3_phone_search&utm_source=8KgHCgPAYzfiYQNZjNtLSw', 'review_count': 380, 'categories': [{'alias': 'indpak', 'title': 'Indian'}, {'alias': 'buffets', 'title': 'Buffets'}], 'rating': 3.5, 'coordinates': {'latitude': 43.6502008, 'longitude': -79.3888945}, 'transactions': [], 'price': '$$', 'location': {'address1': '255 Queen Street W', 'address2': '', 'address3': '', 'city': 'Toronto', 'zip_code': 'M5V 1Z4', 'country': 'CA', 'state': 'ON', 'display_address': ['255 Queen Street W', 'Toronto, ON M5V 1Z4', 'Canada']}, 'phone': '+14162059836', 'display_phone': '+1 416-205-9836'}], 'total': 1}
{'businesses': [{'id': 'Qrz20jCLqVSixe53_McCMQ', 'alias': 'amaya-toronto-6', 'name': 'Amaya', 'image_url': 'https://s3-media1.fl.yelpcdn.com/bphoto/Yb62S4VP5ZcHR9bfSsaLzw/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/amaya-toronto-6?adjust_creative=8KgHCgPAYzfiYQNZjNtLSw&utm_campaign=yelp_api_v3&utm_medium=api_v3_phone_search&utm_source=8KgHCgPAYzfiYQNZjNtLSw', 'review_count': 17, 'categories': [{'alias': 'indpak', 'title': 'Indian'}], 'rating': 2.5, 'coordinates': {'latitude': 43.6486231153903, 'longitude': -79.3816485245646}, 'transactions': [], 'price': '$', 'location': {'address1': '100 King Street W', 'address2': '', 'address3': '', 'city': 'Toronto', 'zip_code': 'M5X 2A2', 'country': 'CA', 'state': 'ON', 'display_address': ['100 King Street W', 'Toronto, ON M5X 2A2', 'Canada']}, 'phone': '+14162140005', 'display_phone': '+1 416-214-0005'}], 'total': 1}

{'businesses': [{'id': 'oPKx7AuYUvVuOXA-OwMU0A', 'alias': 'freshii-toronto-11', 'name': 'Freshii', 'image_url': 'https://s3-media4.fl.yelpcdn.com/bphoto/0lrRXzIZVYWB06ZMnd_htQ/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/freshii-toronto-11?adjust_creative=8KgHCgPAYzfiYQNZjNtLSw&utm_campaign=yelp_api_v3&utm_medium=api_v3_phone_search&utm_source=8KgHCgPAYzfiYQNZjNtLSw', 'review_count': 7, 'categories': [{'alias': 'salad', 'title': 'Salad'}, {'alias': 'vegetarian', 'title': 'Vegetarian'}, {'alias': 'hotdogs', 'title': 'Fast Food'}], 'rating': 2.0, 'coordinates': {'latitude': 43.64816, 'longitude': -79.38345}, 'transactions': [], 'price': '$$$', 'location': {'address1': '130 King St W', 'address2': 'The Exchange Tower', 'address3': '', 'city': 'Toronto', 'zip_code': 'M5X 1E1', 'country': 'CA', 'state': 'ON', 'display_address': ['130 King St W', 'The Exchange Tower', 'Toronto, ON M5X 1E1', 'Canada']}, 'phone': '+14162140259', 'display_phone': '+1 416-214-0259'}], 'total': 1}
{'businesses': [{'id': 'Hpwew2vQVgEwnF6BxIaZYQ', 'alias': 'jimmy-the-greek-toronto-3', 'name': 'Jimmy the Greek', 'image_url': 'https://s3-media3.fl.yelpcdn.com/bphoto/qpB_XMBZ1lxx2fMRGSSjfw/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/jimmy-the-greek-toronto-3?adjust_creative=8KgHCgPAYzfiYQNZjNtLSw&utm_campaign=yelp_api_v3&utm_medium=api_v3_phone_search&utm_source=8KgHCgPAYzfiYQNZjNtLSw', 'review_count': 1, 'categories': [{'alias': 'greek', 'title': 'Greek'}, {'alias': 'mediterranean', 'title': 'Mediterranean'}], 'rating': 5.0, 'coordinates': {'latitude': 43.6490023792363, 'longitude': -79.3788075378652}, 'transactions': [], 'location': {'address1': '100 King Street', 'address2': '', 'address3': '', 'city': 'Toronto', 'zip_code': 'M9N 1L3', 'country': 'CA', 'state': 'ON', 'display_address': ['100 King Street', 'Toronto, ON M9N 1L3', 'Canada']}, 'phone': '+14162149237', 'display_phone': '+1 416-214-9237'}], 'total': 1}
{'businesses': [{'id': 'h_ypoQ2rmwX8UGSmohsGiQ', 'alias': 'maman-toronto', 'name': 'Maman', 'image_url': 'https://s3-media2.fl.yelpcdn.com/bphoto/ZTKG5eDHIgRK6rMkUyhJ2A/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/maman-toronto?adjust_creative=8KgHCgPAYzfiYQNZjNtLSw&utm_campaign=yelp_api_v3&utm_medium=api_v3_phone_search&utm_source=8KgHCgPAYzfiYQNZjNtLSw', 'review_count': 127, 'categories': [{'alias': 'bakeries', 'title': 'Bakeries'}, {'alias': 'coffee', 'title': 'Coffee & Tea'}], 'rating': 3.5, 'coordinates': {'latitude': 43.6487194, 'longitude': -79.3804465}, 'transactions': [], 'price': '$$', 'location': {'address1': '1 First Canadian Place', 'address2': 'Food Terrace, Upper Level', 'address3': '', 'city': 'Toronto', 'zip_code': 'M5X 1C1', 'country': 'CA', 'state': 'ON', 'display_address': ['1 First Canadian Place', 'Food Terrace, Upper Level', 'Toronto, ON M5X 1C1', 'Canada']}, 'phone': '+14162166767', 'display_phone': '+1 416-216-6767'}], 'total': 1}
{'businesses': [{'id': 'BUcTdN-rNE8urCCQuxSOQA', 'alias': 'mothers-dumplings-toronto', 'name': "Mother's Dumplings", 'image_url': 'https://s3-media4.fl.yelpcdn.com/bphoto/E5usRX5SaOx5ri-VNGUR2g/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/mothers-dumplings-toronto?adjust_creative=8KgHCgPAYzfiYQNZjNtLSw&utm_campaign=yelp_api_v3&utm_medium=api_v3_phone_search&utm_source=8KgHCgPAYzfiYQNZjNtLSw', 'review_count': 508, 'categories': [{'alias': 'chinese', 'title': 'Chinese'}], 'rating': 3.0, 'coordinates': {'latitude': 43.65711, 'longitude': -79.39934}, 'transactions': [], 'price': '$$', 'location': {'address1': '421 Spadina Avenue', 'address2': '', 'address3': '', 'city': 'Toronto', 'zip_code': 'M5T 2A8', 'country': 'CA', 'state': 'ON', 'display_address': ['421 Spadina Avenue', 'Toronto, ON M5T 2A8', 'Canada']}, 'phone': '+14162172008', 'display_phone': '+1 416-217-2008'}], 'total': 1}
{'businesses': [{'id': '4oWEqa3paBylDXRfTPB-bA', 'alias': 'jack-astors-bar-and-grill-north-york-2', 'name': "Jack Astor's Bar & Grill", 'image_url': 'https://s3-media4.fl.yelpcdn.com/bphoto/gk95hMGxip-zOpOEPRijSA/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/jack-astors-bar-and-grill-north-york-2?adjust_creative=8KgHCgPAYzfiYQNZjNtLSw&utm_campaign=yelp_api_v3&utm_medium=api_v3_phone_search&utm_source=8KgHCgPAYzfiYQNZjNtLSw', 'review_count': 137, 'categories': [{'alias': 'newcanadian', 'title': 'Canadian (New)'}, {'alias': 'sportsbars', 'title': 'Sports Bars'}, {'alias': 'burgers', 'title': 'Burgers'}], 'rating': 2.5, 'coordinates': {'latitude': 43.76719, 'longitude': -79.41198}, 'transactions': [], 'price': '$$', 'location': {'address1': '5051 Yonge Street', 'address2': 'Unit #2', 'address3': '', 'city': 'North York', 'zip_code': 'M2N 5P2', 'country': 'CA', 'state': 'ON', 'display_address': ['5051 Yonge Street', 'Unit #2', 'North York, ON M2N 5P2', 'Canada']}, 'phone': '+14162211221', 'display_phone': '+1 416-221-1221'}], 'total': 1}
{'businesses': [{'id': '_81fRJ9m8Fn1s8ixPun46A', 'alias': 'union-social-eatery-toronto-2', 'name': 'Union Social Eatery', 'image_url': 'https://s3-media4.fl.yelpcdn.com/bphoto/B4U5vQY3qEE2J5IdnCrj6Q/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/union-social-eatery-toronto-2?adjust_creative=8KgHCgPAYzfiYQNZjNtLSw&utm_campaign=yelp_api_v3&utm_medium=api_v3_phone_search&utm_source=8KgHCgPAYzfiYQNZjNtLSw', 'review_count': 229, 'categories': [{'alias': 'gastropubs', 'title': 'Gastropubs'}, {'alias': 'burgers', 'title': 'Burgers'}, {'alias': 'bbq', 'title': 'Barbeque'}], 'rating': 3.5, 'coordinates': {'latitude': 43.7639042110806, 'longitude': -79.4111878640642}, 'transactions': [], 'price': '$$', 'location': {'address1': '4899 Yonge Street', 'address2': '', 'address3': '', 'city': 'Toronto', 'zip_code': 'M2N 5N4', 'country': 'CA', 'state': 'ON', 'display_address': ['4899 Yonge Street', 'Toronto, ON M2N 5N4', 'Canada']}, 'phone': '+14162216789', 'display_phone': '+1 416-221-6789'}], 'total': 1}
{'businesses': [{'id': '3-i1qd64K-WLo0fJ5wrbbw', 'alias': 'owl-of-minerva-north-york', 'name': 'Owl of Minerva', 'image_url': 'https://s3-media4.fl.yelpcdn.com/bphoto/q7m-7Jq7btpcY3ZH3vWlKg/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/owl-of-minerva-north-york?adjust_creative=8KgHCgPAYzfiYQNZjNtLSw&utm_campaign=yelp_api_v3&utm_medium=api_v3_phone_search&utm_source=8KgHCgPAYzfiYQNZjNtLSw', 'review_count': 153, 'categories': [{'alias': 'korean', 'title': 'Korean'}], 'rating': 3.0, 'coordinates': {'latitude': 43.7725547, 'longitude': -79.4136499}, 'transactions': [], 'price': '$$', 'location': {'address1': '5324 Yonge Street', 'address2': '', 'address3': '', 'city': 'North York', 'zip_code': 'M2N 5P9', 'country': 'CA', 'state': 'ON', 'display_address': ['5324 Yonge Street', 'North York, ON M2N 5P9', 'Canada']}, 'phone': '+14162217275', 'display_phone': '+1 416-221-7275'}], 'total': 1}
{'businesses': [{'id': 'QePLHlU8MFaU2Sf9dzoLTg', 'alias': 'sushi-one-toronto', 'name': 'Sushi One', 'image_url': 'https://s3-media2.fl.yelpcdn.com/bphoto/r-xQvdHGqAcayLGutRJzcQ/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/sushi-one-toronto?adjust_creative=8KgHCgPAYzfiYQNZjNtLSw&utm_campaign=yelp_api_v3&utm_medium=api_v3_phone_search&utm_source=8KgHCgPAYzfiYQNZjNtLSw', 'review_count': 153, 'categories': [{'alias': 'sushi', 'title': 'Sushi Bars'}, {'alias': 'japanese', 'title': 'Japanese'}], 'rating': 3.5, 'coordinates': {'latitude': 43.76442, 'longitude': -79.41203}, 'transactions': [], 'price': '$$', 'location': {'address1': '4924 Yonge Street', 'address2': '', 'address3': '', 'city': 'Toronto', 'zip_code': 'M2N 5N5', 'country': 'CA', 'state': 'ON', 'display_address': ['4924 Yonge Street', 'Toronto, ON M2N 5N5', 'Canada']}, 'phone': '+14162220303', 'display_phone': '+1 416-222-0303'}], 'total': 1}

In [18]:
consolidated_df.head(25)

,name,id,phone,reservations,price_range,review,rating,y_phone_key,g_phone_key,y_id_no,...,y_category,y_reservations,y_price_range,g_name,g_place_id,g_lat,g_lng,"(2, g_rating)","(3, g_rating)","(4, g_rating)"
0,Be Teased Food Truck,18532123,12505725753,0,2,3,0.0,+12505725753,%2B12505725753,pBryV-CG7f2BvkkbULFTog,...,Coffee & Tea,0,0,NaN,NaN,NaN,NaN,3.7,4.3,3.1
1,Tortilla Flats,8905123,14162030088,0,2,100,3.7,+14162030088,%2B14162030088,SZpzMUdhh1xu2qlegzSyLg,...,Mexican,0,$$,NaN,NaN,NaN,NaN,3.7,4.3,3.1
2,Tim Hortons,8905959,14162033931,0,1,15,2.7,+14162033931,%2B14162033931,8k62wYhDVq1-652YbJi5eg,...,Coffee & Tea,0,$,Tim Hortons,ChIJg-ztZ800K4gRxMBY5Fci5fU,43.649796,-79.382023,3.7,4.3,3.1
3,Second Cup,8907802,14162036100,0,1,8,3.4,+14162036100,%2B14162036100,nFnzfL-Ism--Uci4S2I4Ug,...,Coffee & Tea,0,$,Second Cup Coffee Co. featuring Pinkberry Froz...,ChIJmx4zcxjL1IkRl8waSBBTwyc,43.649496,-79.379530,3.7,4.3,3.1
4,Thai Island,8908336,14162037745,0,1,15,3.4,+14162037745,%2B14162037745,rcjw4QjAbu1jvW6gSNvRlA,...,Thai,0,$,Thai Island Restaurant,ChIJq3cvY98wK4gRL5nU-XdPWuc,43.648298,-79.383379,3.7,4.3,3.1
5,Town Crier Pub,8905265,14162049588,0,3,154,4.3,+14162049588,%2B14162049588,Z5kjUEm1A18l864gb3XA8A,...,Pubs,0,$$,NaN,NaN,NaN,NaN,3.7,4.3,3.1
6,Yuzu No Hana,8905653,14162059808,0,4,239,4.5,+14162059808,%2B14162059808,zA6gnF5aPBGoOm6uIbKt-A,...,Sushi Bars,restaurant_reservation,$$$,NaN,NaN,NaN,NaN,3.7,4.3,3.1
7,Little India,8905462,14162059836,0,2,277,4.3,+14162059836,%2B14162059836,J9BmILDpV1Pr3GKU9XhjTQ,...,Indian,0,$$,NaN,NaN,NaN,NaN,3.7,4.3,3.1
8,Amaya Express,8906451,14162140005,0,2,24,3.4,+14162140005,%2B14162140005,Qrz20jCLqVSixe53_McCMQ,...,Indian,0,$,NaN,NaN,NaN,NaN,3.7,4.3,3.1
9,Freshii,8908328,14162140259,0,2,14,3.6,+14162140259,%2B14162140259,oPKx7AuYUvVuOXA-OwMU0A,...,Salad,0,$$$,NaN,NaN,NaN,NaN,3.7,4.3,3.1
10,Jimmy The Greek,8906506,14162149237,0,1,21,3.5,+14162149237,%2B14162149237,Hpwew2vQVgEwnF6BxIaZYQ,...,Greek,0,0,NaN,NaN,NaN,NaN,3.7,4.3,3.1
11,Maman,17714682,14162166767,0,1,24,3.8,+14162166767,%2B14162166767,h_ypoQ2rmwX8UGSmohsGiQ,...,Bakeries,0,$$,NaN,NaN,NaN,NaN,3.7,4.3,3.1
12,Mother's Dumplings,8900379,14162172008,0,2,289,4.3,+14162172008,%2B14162172008,BUcTdN-rNE8urCCQuxSOQA,...,Chinese,0,$$,NaN,NaN,NaN,NaN,3.7,4.3,3.1
13,Jack Astor's,8908277,14162211221,0,2,35,3.3,+14162211221,%2B14162211221,4oWEqa3paBylDXRfTPB-bA,...,Canadian (New),0,$$,NaN,NaN,NaN,NaN,3.7,4.3,3.1
14,Union Social Eatery,17944590,14162216789,0,2,26,3.4,+14162216789,%2B14162216789,_81fRJ9m8Fn1s8ixPun46A,...,Gastropubs,0,$$,NaN,NaN,NaN,NaN,3.7,4.3,3.1
15,The Owl Of Minerva,8907874,14162217275,0,2,129,4.2,+14162217275,%2B14162217275,3-i1qd64K-WLo0fJ5wrbbw,...,Korean,0,$$,NaN,NaN,NaN,NaN,3.7,4.3,3.1
16,Sushi One,8906697,14162220303,0,2,82,4.0,+14162220303,%2B14162220303,QePLHlU8MFaU2Sf9dzoLTg,...,Sushi Bars,0,$$,NaN,NaN,NaN,NaN,3.7,4.3,3.1

In [17]:
#Pull restaurant details by the telephone number

for index, row in consolidated_df.head().iterrows():
    phone = consolidated_df.head().loc[index, "g_phone_key"]
    base_url=f"https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input={phone}&inputtype=phonenumber&fields=geometry,name,place_id,price_level,rating&key={gkey}"
    print(base_url)
    response = requests.get(base_url)
    response_df=response.json()
    print(response_df)
    print(index)
    if response_df['candidates'] != []:
        try:
            consolidated_df.loc[index, "g_name"] = response_df['candidates'][0]['name']
        except:
              consolidated_df.loc["g_name"] = 0
        try:
            consolidated_df.loc[index, "g_place_id"] = response_df["candidates"][0]["place_id"]
        except:
            consolidated_df.loc["g_place_id"]= 0
        try:
             consolidated_df.loc[index, "g_lat"] = response_df["candidates"][0]["geometry"]['location']['lat']
        except:
            consolidated_df.loc[index, "g_lat"]= 0
        try:
             consolidated_df.loc[index, "g_lng"] = response_df["candidates"][0]["geometry"]['location']['lng']
        except:
             consolidated_df.loc[index, "g_lng"]= 0
        try:
             consolidated_df[index, "g_rating"] = response_df["candidates"][0]["rating"]
        except:
             consolidated_df.loc[index, "g_rating"]= 0

https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=%2B12505725753&inputtype=phonenumber&fields=geometry,name,place_id,price_level,rating&key=AIzaSyBLExFavZoHAN3HB3-WRnNN52nyVmXB1tU
{'candidates': [], 'status': 'ZERO_RESULTS'}
0
https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=%2B14162030088&inputtype=phonenumber&fields=geometry,name,place_id,price_level,rating&key=AIzaSyBLExFavZoHAN3HB3-WRnNN52nyVmXB1tU
{'candidates': [], 'status': 'ZERO_RESULTS'}
1
https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=%2B14162033931&inputtype=phonenumber&fields=geometry,name,place_id,price_level,rating&key=AIzaSyBLExFavZoHAN3HB3-WRnNN52nyVmXB1tU
{'candidates': [{'geometry': {'location': {'lat': 43.6497961, 'lng': -79.3820226}, 'viewport': {'northeast': {'lat': 43.65106643029149, 'lng': -79.38064136970848}, 'southwest': {'lat': 43.64836846970849, 'lng': -79.3833393302915}}}, 'name': 'Tim Hortons', 'place_id': 'ChIJg-ztZ800K4gRxMBY5Fci5fU', 'price_level': 1, 'rating': 3.7}], 'status': 'OK'}
2
https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=%2B14162036100&inputtype=phonenumber&fields=geometry,name,place_id,price_level,rating&key=AIzaSyBLExFavZoHAN3HB3-WRnNN52nyVmXB1tU
{'candidates': [{'geometry': {'location': {'lat': 43.6494957, 'lng': -79.3795298}, 'viewport': {'northeast': {'lat': 43.65052688029149, 'lng': -79.3780519197085}, 'southwest': {'lat': 43.64782891970849, 'lng': -79.3807498802915}}}, 'name': 'Second Cup Coffee Co. featuring Pinkberry Frozen Yogurt', 'place_id': 'ChIJmx4zcxjL1IkRl8waSBBTwyc', 'price_level': 2, 'rating': 4.3}], 'status': 'OK'}
3
https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=%2B14162037745&inputtype=phonenumber&fields=geometry,name,place_id,price_level,rating&key=AIzaSyBLExFavZoHAN3HB3-WRnNN52nyVmXB1tU
{'candidates': [{'geometry': {'location': {'lat': 43.6482981, 'lng': -79.3833794}, 'viewport': {'northeast': {'lat': 43.64949543029149, 'lng': -79.38196626970849}, 'southwest': {'lat': 43.6467974697085, 'lng': -79.3846642302915}}}, 'name': 'Thai Island Restaurant', 'place_id': 'ChIJq3cvY98wK4gRL5nU-XdPWuc', 'rating': 3.1}], 'status': 'OK'}
4

In [19]:
consolidated_df.head(25)

,name,id,phone,reservations,price_range,review,rating,y_phone_key,g_phone_key,y_id_no,...,y_category,y_reservations,y_price_range,g_name,g_place_id,g_lat,g_lng,"(2, g_rating)","(3, g_rating)","(4, g_rating)"
0,Be Teased Food Truck,18532123,12505725753,0,2,3,0.0,+12505725753,%2B12505725753,pBryV-CG7f2BvkkbULFTog,...,Coffee & Tea,0,0,NaN,NaN,NaN,NaN,3.7,4.3,3.1
1,Tortilla Flats,8905123,14162030088,0,2,100,3.7,+14162030088,%2B14162030088,SZpzMUdhh1xu2qlegzSyLg,...,Mexican,0,$$,NaN,NaN,NaN,NaN,3.7,4.3,3.1
2,Tim Hortons,8905959,14162033931,0,1,15,2.7,+14162033931,%2B14162033931,8k62wYhDVq1-652YbJi5eg,...,Coffee & Tea,0,$,Tim Hortons,ChIJg-ztZ800K4gRxMBY5Fci5fU,43.649796,-79.382023,3.7,4.3,3.1
3,Second Cup,8907802,14162036100,0,1,8,3.4,+14162036100,%2B14162036100,nFnzfL-Ism--Uci4S2I4Ug,...,Coffee & Tea,0,$,Second Cup Coffee Co. featuring Pinkberry Froz...,ChIJmx4zcxjL1IkRl8waSBBTwyc,43.649496,-79.379530,3.7,4.3,3.1
4,Thai Island,8908336,14162037745,0,1,15,3.4,+14162037745,%2B14162037745,rcjw4QjAbu1jvW6gSNvRlA,...,Thai,0,$,Thai Island Restaurant,ChIJq3cvY98wK4gRL5nU-XdPWuc,43.648298,-79.383379,3.7,4.3,3.1
5,Town Crier Pub,8905265,14162049588,0,3,154,4.3,+14162049588,%2B14162049588,Z5kjUEm1A18l864gb3XA8A,...,Pubs,0,$$,NaN,NaN,NaN,NaN,3.7,4.3,3.1
6,Yuzu No Hana,8905653,14162059808,0,4,239,4.5,+14162059808,%2B14162059808,zA6gnF5aPBGoOm6uIbKt-A,...,Sushi Bars,restaurant_reservation,$$$,NaN,NaN,NaN,NaN,3.7,4.3,3.1
7,Little India,8905462,14162059836,0,2,277,4.3,+14162059836,%2B14162059836,J9BmILDpV1Pr3GKU9XhjTQ,...,Indian,0,$$,NaN,NaN,NaN,NaN,3.7,4.3,3.1
8,Amaya Express,8906451,14162140005,0,2,24,3.4,+14162140005,%2B14162140005,Qrz20jCLqVSixe53_McCMQ,...,Indian,0,$,NaN,NaN,NaN,NaN,3.7,4.3,3.1
9,Freshii,8908328,14162140259,0,2,14,3.6,+14162140259,%2B14162140259,oPKx7AuYUvVuOXA-OwMU0A,...,Salad,0,$$$,NaN,NaN,NaN,NaN,3.7,4.3,3.1
10,Jimmy The Greek,8906506,14162149237,0,1,21,3.5,+14162149237,%2B14162149237,Hpwew2vQVgEwnF6BxIaZYQ,...,Greek,0,0,NaN,NaN,NaN,NaN,3.7,4.3,3.1
11,Maman,17714682,14162166767,0,1,24,3.8,+14162166767,%2B14162166767,h_ypoQ2rmwX8UGSmohsGiQ,...,Bakeries,0,$$,NaN,NaN,NaN,NaN,3.7,4.3,3.1
12,Mother's Dumplings,8900379,14162172008,0,2,289,4.3,+14162172008,%2B14162172008,BUcTdN-rNE8urCCQuxSOQA,...,Chinese,0,$$,NaN,NaN,NaN,NaN,3.7,4.3,3.1
13,Jack Astor's,8908277,14162211221,0,2,35,3.3,+14162211221,%2B14162211221,4oWEqa3paBylDXRfTPB-bA,...,Canadian (New),0,$$,NaN,NaN,NaN,NaN,3.7,4.3,3.1
14,Union Social Eatery,17944590,14162216789,0,2,26,3.4,+14162216789,%2B14162216789,_81fRJ9m8Fn1s8ixPun46A,...,Gastropubs,0,$$,NaN,NaN,NaN,NaN,3.7,4.3,3.1
15,The Owl Of Minerva,8907874,14162217275,0,2,129,4.2,+14162217275,%2B14162217275,3-i1qd64K-WLo0fJ5wrbbw,...,Korean,0,$$,NaN,NaN,NaN,NaN,3.7,4.3,3.1
16,Sushi One,8906697,14162220303,0,2,82,4.0,+14162220303,%2B14162220303,QePLHlU8MFaU2Sf9dzoLTg,...,Sushi Bars,0,$$,NaN,NaN,NaN,NaN,3.7,4.3,3.1

In [ ]:
#Save to a CSV all data retrieved
consolidated.to_csv("consolidated_toronto.csv", sep=',',index=False)

In [ ]:
analysis_set = consolidated[['name_x','g_rating', 'rating_x','rating_y','review_x', 'review_y', 'g_review',
                             'price_range_x', 'price_range_y']]
analysis_set = analysis_set.rename(columns={'name_x':'name', 'g_rating':'google_rating', 'rating_x' :'yelp_rating', 
                                             'rating_y' : 'zomato_rating', 'review_x': 'yelp_reviews', 'review_y' : 'zomato_reviews',
                                            'g_review': 'google_reviews', 'price_range_x': 'yelp_pr_range', 
                                            'price_range_y':'zomato_pr_range'})

In [ ]:
print(len(analysis_set))
analysis_set.head()